@{ 
	string groupname = string.Format(Resources.Resource.NameFormat, Resources.Resource.Group);
}
<div id="customerGroupModal">
	<form>
		<div class="form-group">			
			<input type="text" id="txtGroupName" class="form-control mx-1" placeholder="@groupname" />
			<span class="text-danger"></span>
			<textarea id="txtRemark" class="form-control mx-1" placeholder="@Resources.Resource.Remark"></textarea>
		</div>
	</form>

	<div class="overflow-auto">
		<table id="tblCustomerGroup" class="table table-hover table-bordered table-condensed">
			<thead class="gray-header">
				<tr>
					<th class="text-center">@groupname</th>
					<th class="text-center">@Resources.Resource.Remark</th>
					<th class="text-center">@Resources.Resource.Customer</th>
					<th class="text-center">@Resources.Resource.CreateTime</th>
					<th class="text-center"></th>
				</tr>
			</thead>
		</table>
		<div class="Pager my-1"></div>
		<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
	</div>
</div>
