@{ 
    string cls = ViewData["cls"]!=null ? (string)ViewData["cls"]:"";
    string lbltxt = ViewData["lbltxt"] != null ? (string)ViewData["lbltxt"] : "";
    string drpId = ViewData["drpId"] != null ? (string)ViewData["drpId"] : "";
    bool forcustomer = ViewData["forcustomer"] != null;
}

<div id="dropdownModal">
	<div class="form-group">
		<label for="@drpId">@lbltxt</label>
		<select id="@drpId" class="form-control dropdown @cls">
		</select>
	</div>
	@if (forcustomer)
	{
		<div class="form-group">
			<label for="drpCustomerGroup">@Resources.Resource.CustomerGroup</label>
			<select id="drpCustomerGroup" class="form-control dropdown">
			</select>
		</div>
	}
</div>
