@{
    string requiredcls = ViewData["required"] == null ? "" : ViewData["required"].ToString();
    string currency = ViewData["currency"] == null ? "" : ViewData["currency"].ToString();
    string fieldname = ViewData["fieldname"] == null ? "" : ViewData["fieldname"].ToString();
    string lblcls = ViewData["lblcls"] == null ? "control-label" : ViewData["lblcls"].ToString();
    string exratecls = ViewData["exratecls"] == null ? "" : ViewData["exratecls"].ToString();
    string exratestyle = ViewData["exratestyle"] == null ? "" : ViewData["exratestyle"].ToString();
    string txtboxattr = ViewData["txtboxattr"] == null ? "" : ViewData["txtboxattr"].ToString();
    string txtboxstyle = ViewData["txtboxstyle"] == null ? "" : ViewData["txtboxstyle"].ToString();
    string txtboxcls = ViewData["txtboxcls"] == null ? "" : ViewData["txtboxcls"].ToString();
    bool usedropdown = ViewData["usedropdown"] == null ? false : (bool)ViewData["usedropdown"];
}
<input type="hidden" id="usedropdown" value="@usedropdown" />

@if (usedropdown)
{
    <div class="row justify-content-end small">
        <form class="form-inline mx-3 my-3">
            <label class="mx-2" for="drpCurrency">@Resources.Resource.Currency</label>
            <select id="drpCurrency" class="custom-select exrate"></select>
            <span id="forexPayment" class="d-inline-block text-info font-weight-bold mx-2"></span>
        </form>
       
    </div>
}
else
{
    <div class="form-group">
        <label class="@lblcls" for="@fieldname">@Resources.Resource.Currency</label>
        <input type="text" class="form-control exrate @txtboxcls" id="@fieldname" name="@fieldname" value="@currency" @txtboxattr style="@txtboxstyle" />
    </div>
}



<div class="@exratecls danger small font-weight-bold" style="@exratestyle">@Resources.Resource.ExchangeRate: <span id="exratedisplay"></span></div>