@model IEnumerable<SBLib.Models.GlobalAttributeModel>
@{
	List<CustomAttributeModel> CustomAttributeList = ViewData["CustomAttributeList"] as List<CustomAttributeModel>;
	var rand = CommonHelper.GetVersionRandomNo();
}

<h3>@Resources.Resource.Attribute</h3>
@if (Model != null && Model.Count() > 0)
{
	<div id="gattrblk">
		<div class="row small">
			<div class="col-12 col-md-4">
				<form>
					<fieldset class="default-border">
						<legend class="default-border">@Resources.Resource.Text</legend>
						@for (int i = 1; i <= 10; i++)
						{
							var id = $"txt{i}";
							var attr = Model.FirstOrDefault(x => x.gattrId == id);
							var lbltxt = attr.attrName;
							var cattr = CustomAttributeList.FirstOrDefault(x => x.gattrId == id);
							var val = cattr.attrValue;
							<div class="form-group">
								<label class="pointer attr" for="@id">@lbltxt</label>
								<input type="text" class="form-control text labeltxt my-1 hide" data-attrtype="label" data-id="@id" data-oldname="@lbltxt" />
								<input type="text" class="form-control text attr" id="@id" placeholder="@lbltxt" data-attrvalue="@attr.attrValue" data-attrname="@attr.attrName" data-attrtype="text" data-isdefault="1" data-isglobal="1" value="@val" data-ng-required="1">

								<input type="hidden" class="info" data-attrid="@attr.attrId" data-gattrid="@attr.gattrId" data-order="@attr.attrOrder" />
								<span id="@(id)msg" class="float-right"></span>
							</div>
						}
					</fieldset>
				</form>
			</div>

			<div class="col-12 col-md-4">
				<form>
					<fieldset class="default-border">
						<legend class="default-border">@Resources.Resource.Text</legend>
						@for (int i = 11; i <= 20; i++)
						{
							var id = $"txt{i}";
							var attr = Model.FirstOrDefault(x => x.gattrId == id);
							var lbltxt = attr.attrName;
							var cattr = CustomAttributeList.FirstOrDefault(x => x.gattrId == id);
							var val = cattr.attrValue;
							<div class="form-group">
								<label class="pointer attr" for="@id">@lbltxt</label>
								<input type="text" class="form-control text labeltxt hide" data-attrtype="label" data-id="@id" data-oldname="@lbltxt" />
								<input type="text" class="form-control text attr" id="@id" placeholder="@lbltxt" data-attrvalue="@attr.attrValue" data-attrname="@attr.attrName" data-attrtype="text" data-isdefault="1" data-isglobal="1" value="@val" data-ng-required="0">
								<span id="@(id)msg" class="float-right"></span>
							</div>
						}
					</fieldset>
				</form>
			</div>

			<div class="col-12 col-md-4">
				<form>
					<fieldset class="default-border">
						<legend class="default-border">@Resources.Resource.DropDown</legend>
						@for (int i = 21; i <= 30; i++)
						{
							var id = $"drp{i}";
							var attr = Model.FirstOrDefault(x => x.gattrId == id);
							var lbltxt = attr.attrName;
							var cattr = CustomAttributeList.FirstOrDefault(x => x.gattrId == id);
							var val = cattr.attrValue;

							List<string> valattr = new List<string>();
							List<string> valattrSelected = new List<string>();
							if (!string.IsNullOrEmpty(val))
							{
								valattr = val.Split(new string[] { "||" }, StringSplitOptions.None).ToList();
								if (!string.IsNullOrEmpty(cattr.attrValueSelected))
								{
									valattrSelected = cattr.attrValueSelected.Split(',').ToList();
								}
							}

							<div class="form-group">
								<div class="row">
									<div class="col-12 col-sm-4">
										<label class="pointer attr" for="@id">@lbltxt</label>
										<input type="text" class="form-control text labeltxt hide" data-attrtype="label" data-id="@id" data-oldname="@lbltxt" />
									</div>
									<div class="col-12 col-sm-7">
										<select class="form-control flex combo attr" id="@id" data-id="@id" data-attrid="@cattr.attrId" data-attrname="@cattr.attrName" data-attrvalue="@val" data-selectedval="@cattr.attrValueSelected" placeholder="@lbltxt" data-attrtype="dropdown" data-isdefault="1" data-isglobal="1" data-ng-required="1" multiple>
											@foreach (var v in valattr)
											{
												if (!string.IsNullOrEmpty(v))
												{
													var selected = valattrSelected.Contains(v) ? "selected" : "";
													<option value="@v" @selected>@v</option>
												}

											}
										</select>
									</div>
									<div class="col-12 col-sm-1">
										<span class="border" data-order="@i" data-id="@id">....</span>
									</div>
								</div>
								<span id="@(id)msg" class="mx-1 my-auto"></span>
							</div>
						}
					</fieldset>
				</form>
			</div>
		</div>

		<div id="cusAttrBlk" class="px-2">
			<h6 class="font-weight-bold">@Resources.Resource.CustomAttribute</h6>
			<div id="cattrlist">
				<input type="text" class="form-control cattr" style="max-width:none;" />
			</div>

			<div class="my-2 small">
				<button type="button" id="btnSaveCattr" class="btn btn-info">@string.Format(Resources.Resource.SaveFormat, Resources.Resource.Attribute)</button>
				<span id="gattrMsg" class="mx-2 my-auto"></span>
			</div>
		</div>

	</div>
}




