@{

}

<div id="hotlistModal">
	<table id="tblhotlist" class="table table-bordered table-hover table-condensed">
		<thead class="gray-header">
			<tr>
				<th class="text-left" data-col="0">@string.Format(Resources.Resource.NameFormat, Resources.Resource.HotList)</th>
				<th class="text-left" data-col="1">@string.Format(Resources.Resource.NameFormat, Resources.Resource.SalesPerson)</th>
				<th class="text-left" data-col="2">@Resources.Resource.Description</th>
				<th class="text-left" data-col="3">@Resources.Resource.CreateTime</th>
			</tr>
		</thead>

		<tbody></tbody>
	</table>
	
	<div class="Pager"></div>

	@Html.Partial("_NoRecordFound")
</div>


