@{
	string currency = ViewData["currency"] != null ? (string)ViewData["currency"] : "";

	bool forpurchase = ViewData["forpurchase"] != null ? (bool)ViewData["forpurchase"] : false;
	bool forwholesales = ViewData["forwholesales"] != null ? (bool)ViewData["forwholesales"] : false;
	bool forsales = ViewData["forsales"] != null ? (bool)ViewData["forsales"] : false;
	bool forpreorder = ViewData["forpreorder"] != null ? (bool)ViewData["forpreorder"] : false;
	bool forIA = ViewData["forIA"] == null ? false : (bool)ViewData["forIA"];
	bool forreserve = ViewData["forreserve"] != null ? (bool)ViewData["forreserve"] : false;
	string priceheader = ViewData["priceheader"] != null ? (string)ViewData["priceheader"] : Resources.Resource.SellingPrice;
}

<div id="itemModal">

	<div class="form-inline my-4">
		<div class="form-group">
			<input type="text" class="form-control mr-3" id="txtItem" placeholder="@Resources.Resource.EnterItemCodeName" style="max-width:none;" />
			<span class="warning"></span>
		</div>
		<div class="form-group">
			<button class="btn btn-default" id="btnSearchItem">@Resources.Resource.Search</button>
		</div>
	</div>

	<div id="norecord" class="alert alert-warning hide">@Resources.Resource.NoDataFound</div>
	<table id="tblItem" class="table table-bordered  table-hover table-condensed">

		<thead>
			<tr class="gray-header">
				<th class="text-left colheader" data-col="0">@Resources.Resource.ItemCode</th>
				<th class="text-left colheader" data-col="1">@Resources.Resource.ItemName</th>
				@if (!forpurchase)
				{
					string qtyheader = Resources.Resource.QtySellable;
					if (forIA)
					{
						qtyheader = string.Concat(qtyheader, " <span class='text-primary'>(", Resources.Resource.AbssQty, ")</span>");
					}
					<th class="text-right">@Html.Raw(qtyheader)</th>
				}

				@if (!string.IsNullOrEmpty(currency))
				{
					<th class="text-left colheader" data-col="2">@priceheader (@currency)</th>
				}
				<th>@Resources.Resource.Batch/@Resources.Resource.SerialNo/@Resources.Resource.ExpiryDate</th>
				<th>@Resources.Resource.ItemVariations</th>
				<!-- not for reserve for simplify development -->
				@if (!forpurchase && !forreserve)
				{
					<th>@Resources.Resource.Promotion <span class="small text-danger">(</span><span class="small text-danger">@Resources.Resource.SingleClick4Selection</span><span class="small text-danger">)</span></th>
				}
			</tr>
		</thead>

		<tbody></tbody>
	</table>
	
	<div class="Pager my-1"></div>	
	<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
</div>
