@{
	string sitename = Resources.Resource.SiteName;
	string lnkcls = "";
	string sublnkcls = "";
	string reportlnktxt = string.Empty;
	string reportlnkcls = "nav-link dropdown-toggle {0}";
	System.Collections.Generic.List<ReportView> reports = null;
	string pagename = ViewBag.PageName ?? string.Empty;
	string eximtxt = string.Concat(Resources.Resource.Export, "-", Resources.Resource.Import);
	ComInfo ComInfo = HttpContext.Current.Session["ComInfo"] as ComInfo;
	bool enableNonM = ComInfo == null ? ConfigurationManager.AppSettings["enableNonM"] == "1" : (bool)ComInfo.enableNonM;

	bool enableCRM = ComInfo == null ? ConfigurationManager.AppSettings["enableCRM"] == "1" : (bool)ComInfo.enableCRM;

	string accessmode = HttpContext.Current.Session["AccessMode"] == null ? "pos" : (string)HttpContext.Current.Session["AccessMode"];
	int rand = CommonHelper.GetVersionRandomNo();
	string defaultcheckoutportal = CommonHelper.FirstCharToUpper(ComInfo == null ? ConfigurationManager.AppSettings["DefaultCheckoutPortal"] : ComInfo.DefaultCheckoutPortal);
	string cssbsfile = HttpContext.Current.Session["CssBSFile"] == null ? @"Content/bs4" : HttpContext.Current.Session["CssBSFile"].ToString();
	string scriptbsfile = HttpContext.Current.Session["ScriptBSFile"] == null ? @"Scripts/bs4" : HttpContext.Current.Session["ScriptBSFile"].ToString();
	bool nonabss = defaultcheckoutportal.ToLower() == "nonabss";
	string shop = ComInfo == null ? ConfigurationManager.AppSettings["Shop"] : ComInfo.Shop;
	bool approvalmode = ComInfo == null ? false : (bool)ComInfo.ApprovalMode;
	string forapproval = Resources.Resource.ForApproval;
	string forreceival = Resources.Resource.ForReceival;
	string fordelivery = Resources.Resource.ForDelivery;
	SessUser user = HttpContext.Current.Session["User"] == null ? null : HttpContext.Current.Session["User"] as SessUser;
	bool isadmin = user.Roles.Any(x => x == RoleType.Admin && x != RoleType.SalesManager);
	bool showDataTransfer = CommonHelper.GetUrlHost() != "crm.united.com.hk";
}
<!DOCTYPE html>
<html>

@Html.Partial("_Head", null, new ViewDataDictionary { { "cssbsfile", cssbsfile }, { "scriptbsfile", scriptbsfile }, { "PageTitle", ViewBag.Title } })

<body>

	<div class="overlay"></div>

	<!-- header-area-start -->
	<header class="header" data-lang="@CultureHelper.CurrentCulture">
		<div class="header__flex">
			<div class="header__left">
				<div class="bar">
					<a href="#"><i class="fas fa-bars fa-fw"></i></a>
				</div>
				<div class="site__logo">
					<a href="#"><img src="~/Content/mean/img/site-logo.png" alt=""></a>
				</div>
			</div>
			<div class="header__right">
				<div class="header__user">
					<a href="#"><img src="~/Content/mean/img/User.png" alt="">@user.UserName</a>
				</div>
				@Html.Partial("_LoginPartial", null, new ViewDataDictionary { { "iscentral", false } })
				<script src="~/Scripts/ts/js/lang.js?v=@CommonHelper.GetVersionRandomNo()"></script>
			</div>
		</div>
	</header>
	<!-- header-area-end -->
	<!-- dashbord-area-start -->
	<section class="dash">
		<div class="dash__flex">
			<div class="dash__left">
				<div class="cross d-none">
					<a href="#"><i class="far fa-times-circle"></i></a>
				</div>
				<div class="dash_menu_title">
					<h3>@sitename</h3>
				</div>
				<div class="dash__menu">
					<ul>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "sales") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseRetail" role="button" aria-expanded="false" aria-controls="collapseRetail">
								<span><img src="~/Content/mean/img/retail.svg" alt=""></span>
								<p>@Resources.Resource.Retail</p>
							</a>
							<ul class="submenu collapse" id="collapseRetail">
								@if (!isadmin)
								{
									sublnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "sales") ? "active" : "";
									<li><a href="/POSFunc/Sales" class="@sublnkcls">@string.Format(Resources.Resource.OrderFormat, Resources.Resource.Retail)</a></li>
									sublnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "advsales") ? "active" : "";
									<li><a href="/POSFunc/AdvSales" class="@sublnkcls">@Html.Raw(string.Concat(string.Format(Resources.Resource.OrderFormat, Resources.Resource.Retail), "<span class='small'>(", Resources.Resource.Advanced, ")</span>"))</a></li>
									sublnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "refund") ? "active" : "";
									<li><a href="/POSFunc/Refund" class="@sublnkcls">@string.Format(Resources.Resource.OrderFormat, Resources.Resource.Refund)</a></li>
									sublnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "salesorderlist") ? "active" : "";
									<li><a href="/SalesOrder/Index" class="@sublnkcls">@string.Format(Resources.Resource.ListFormat, Resources.Resource.SalesOrder)</a></li>
								}

								@if (HttpContext.Current.Session["Reports"] == null)
								{
									sublnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "dayends") ? "active" : "";
									<li><a href="/POSFunc/DayEnds" class="@sublnkcls">@Resources.Resource.DayEnds</a></li>

								}
								else
								{
									reportlnktxt = Resources.Resource.DayEnds;

									reports = (List<ReportView>)System.Web.HttpContext.Current.Session["Reports"];
									List<DayEndsItem> ExImViews = (List<DayEndsItem>)System.Web.HttpContext.Current.Session["ExImViews"];

									foreach (ReportView report in reports)
									{
										sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == report.Code.ToLower()) ? "active" : "";
										<li>
											@Html.ActionLink(report.Name, "Show" + report.Code, "Report", new { }, new { @class = sublnkcls })
										</li>
									}
								}
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "customer") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseCustomer" role="button" aria-expanded="false" aria-controls="collapseCustomer">
								<span><img src="~/Content/mean/img/custom.svg" alt=""></span>
								<p>@Resources.Resource.Customer</p>
							</a>
							<ul class="submenu collapse" id="collapseCustomer">
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "customer") ? "active" : ""; }

								<li><a href="/Customer/Index" class="@sublnkcls">@string.Format(Resources.Resource.ManagementFormat, Resources.Resource.Customer)</a></li>

								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "pricelevels") ? "active" : ""; }

								<li><a href="/PriceLevels/Index" class="@sublnkcls">@Resources.Resource.PointLevel</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "pgcustomer") ? "active" : ""; }

								<li><a href="/PGCustomer/Index" class="@sublnkcls">@string.Format(Resources.Resource.AddFormat, Resources.Resource.Customer)</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "enquiry") ? "active" : ""; }

								<li><a href="/Enquiry/Index" class="@sublnkcls">@Resources.Resource.Enquiry</a></li>
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "item") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseItem" role="button" aria-expanded="false" aria-controls="collapseItem">
								<span><img src="~/Content/mean/img/Cube.svg" alt=""></span>
								<p>@Resources.Resource.Item</p>
							</a>
							<ul class="submenu collapse" id="collapseItem">
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "pglist") ? "active" : ""; }
								<li><a href="/Item/Index" class="@sublnkcls">@string.Format(Resources.Resource.NewFormat, Resources.Resource.Item)</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "stock") ? "active" : ""; }
								<li><a href="/Item/Stock" class="@sublnkcls">@Resources.Resource.Stock</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "transfer") ? "active" : ""; }
								<li><a href="/Transfer/Index" class="@sublnkcls">@Resources.Resource.StockTransfer</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "transferlist") ? "active" : ""; }
								<li><a href="/Transfer/List" class="@sublnkcls">@Resources.Resource.StockTransferOrder</a></li>
								
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "InventoryAdjustment") ? "active" : ""; }
								<li><a href="/InventoryAdjustment/Index" class="@sublnkcls">@Resources.Resource.InventoryAdjustment</a></li>

								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "category") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/ItemCategory/Index">@Resources.Resource.Category</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "zerostocks") ? "active" : ""; }
								<li><a href="/Item/ZeroStocks" class="@sublnkcls">@Resources.Resource.OutOfStockItems</a></li>
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "promotion") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapsePromotion" role="button" aria-expanded="false" aria-controls="collapsePromotion">
								<span><img src="~/Content/mean/img/promo.svg" alt=""></span>
								<p>@Resources.Resource.Promotion</p>
							</a>
							<ul class="submenu collapse" id="collapsePromotion">
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "eblast") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/eBlast/Index">@Resources.Resource.eBlast</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "etrack") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/eTrack/TrackResult?pass=@ConfigurationManager.AppSettings["eTrackToken"]">@Resources.Resource.TrackResult</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "itemperiodpromotion") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/ItemPeriodPromotion/Index">@Resources.Resource.ItemPeriodPromotion</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "itemqtypromotion") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/ItemQtyPromotion/Index">@Resources.Resource.ItemQtyPromotion</a></li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "promotion") ? "active" : ""; }
								<li><a class="@sublnkcls" href="/Promotion/Index">@string.Format(Resources.Resource.ListFormat, Resources.Resource.Promotion)</a></li>
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "wholesales") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseWholeSales" role="button" aria-expanded="false" aria-controls="collapseWholeSales">
								<span><img src="~/Content/mean/img/whole.svg" alt=""></span>
								<p>@Resources.Resource.WholeSales</p>
							</a>
							<ul class="submenu collapse" id="collapseWholeSales">
								@if (!isadmin)
								{
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "create") ? "active" : "";
									<li>@Html.ActionLink(string.Format(Resources.Resource.AddFormat, Resources.Resource.Order), "Edit", "WholeSales", new { Id = 0, type = "order" }, new { @class = sublnkcls })</li>
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "list") ? "active" : "";
									fordelivery = string.Concat("<span class='small'>(", fordelivery, ")</span>");
									var wholesaleslist = Html.Raw(string.Concat(string.Format(Resources.Resource.ManagementFormat, Resources.Resource.WholeSaleOrder), fordelivery));

									<li><a class="@sublnkcls" href="/WholeSales/Index">@wholesaleslist</a></li>
								}


								@if (approvalmode && isadmin)
								{
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "salesorderlist") ? "active" : "";

									forapproval = string.Concat("<span class='small'>(", forapproval, ")</span>");
									var wholesalesorderlist = Html.Raw(string.Concat(string.Format(Resources.Resource.ListFormat, Resources.Resource.WholeSaleOrder), forapproval));
									<li><a class="@sublnkcls" href="/WholeSales/SalesOrderList">@wholesalesorderlist</a></li>
								}

							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "purchase") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapsePurchase" role="button" aria-expanded="false" aria-controls="collapsePurchase">
								<span><img src="~/Content/mean/img/purchase.svg" alt=""></span>
								<p>@Resources.Resource.Purchase</p>
							</a>
							<ul class="submenu collapse" id="collapsePurchase">
								@if (!isadmin)
								{
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "order") ? "active" : "";
									<li>@Html.ActionLink(string.Format(Resources.Resource.NewFormat, Resources.Resource.PurchaseOrder), "Edit", "Purchase", new { Id = 0, type = "order" }, new { @class = sublnkcls })</li>
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "purchase") ? "active" : "";
									forreceival = string.Concat("<span class='small'>(", forreceival, ")</span>");
									var purchaselist = Html.Raw(string.Concat(string.Format(Resources.Resource.ManagementFormat, Resources.Resource.PurchaseOrder), forreceival));
									<li><a class="@sublnkcls" href="/Purchase/Index">@purchaselist</a></li>
								}

								@if (approvalmode && isadmin)
								{
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "purchaseorderlist") ? "active" : "";
									var purchaseorderlist = Html.Raw(string.Concat(string.Format(Resources.Resource.ListFormat, Resources.Resource.PurchaseOrder), forapproval));
									<li><a class="@sublnkcls" href="/Purchase/PurchaseOrderList">@purchaseorderlist</a></li>
									sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "supplier") ? "active" : "";
									<li>@Html.ActionLink(string.Format(Resources.Resource.ManagementFormat, Resources.Resource.Supplier), "Index", "Supplier", null, new { @class = sublnkcls })</li>
								}
							</ul>
						</li>

						@if (showDataTransfer)
						{
							<li class="btn_expand">
								@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "dayendsexportfrmshop") ? "active_btn" : "expand_btn"; }
								<a class="@lnkcls" data-toggle="collapse" href="#collapseDataTransfer" role="button" aria-expanded="false" aria-controls="collapseDataTransfer">
									<span><img src="~/Content/mean/img/data exchange.svg" alt=""></span>
									<p>@Resources.Resource.DataIntegration</p>
								</a>
								<ul class="submenu collapse" id="collapseDataTransfer">
									@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "dayendsimportfrmcentral") ? "active" : ""; var pagetitle = HttpContext.Current.Session["ImportFrmCentralPageTitle"] ?? string.Format(Resources.Resource.DayendsImportFrmCentral, defaultcheckoutportal.ToUpper()); }
									<li><a href="/DataTransfer/DayendsImportFrmCentral" class="@sublnkcls">@pagetitle</a></li>
									@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "dayendsexportfrmshop") ? "active" : ""; pagetitle = HttpContext.Current.Session["ExportFrmShopPageTitle"] ?? string.Format(Resources.Resource.DayendsImportFrmShop, defaultcheckoutportal.ToUpper()); }
									<li><a href="/DataTransfer/DayendsExportFrmShop" class="@sublnkcls">@pagetitle</a></li>
								</ul>
							</li>
						}

						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "generalreports") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls @Resources.Resource.Report" data-toggle="collapse" href="#collapseGeneralReports" role="button" aria-expanded="false" aria-controls="collapseGeneralReports">
								<span><img src="~/Content/mean/img/data.svg" alt=""></span>
								<p>@Resources.Resource.Report</p>
							</a>
							<ul class="submenu collapse" id="collapseGeneralReports">
								@{
									reports = (List<ReportView>)System.Web.HttpContext.Current.Session["GeneralReports"];
								}

								@if (reports != null && reports.Count > 0)
								{
									foreach (ReportView report in reports)
									{
										sublnkcls = "{0}";
										if (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == report.Code.ToLower()) { sublnkcls = string.Format(sublnkcls, "active"); } else { sublnkcls = string.Format(sublnkcls, string.Empty); }
										<li>@Html.ActionLink(report.Name, "Show" + report.Code, "Report", new { }, new { @class = sublnkcls })</li>
									}
								}
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "abssreports") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls @Resources.Resource.Report" data-toggle="collapse" href="#collapseAbssReports" role="button" aria-expanded="false" aria-controls="collapseAbssReports">
								<span><img src="~/Content/mean/img/report.svg" alt=""></span>
								<p>@string.Format(Resources.Resource.ReportFormat, "ABSS")</p>
							</a>
							<ul class="submenu collapse" id="collapseAbssReports">
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "quotation") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.Quotation, "Quotation", "ABSSReport", null, new { @class = sublnkcls })</li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "receivable") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.AccountReceivable, "AccountReceivable", "ABSSReport", null, new { @class = sublnkcls })</li>

								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "spp") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.SalesPersonPerformance, "SPP", "ABSSReport", null, new { @class = sublnkcls })</li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "ci") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.CustomerInvoices, "CI", "ABSSReport", null, new { @class = sublnkcls })</li>
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "records") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseRecords" role="button" aria-expanded="false" aria-controls="collapseRecords">
								<span><img src="~/Content/mean/img/rec.svg" alt=""></span>
								<p>@Resources.Resource.Record</p>
							</a>
							<ul class="submenu collapse" id="collapseRecords">
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "attendance") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.AttendanceRecords, "Index", "Attendance", null, new { @class = sublnkcls })</li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "job") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.JobRecords, "Index", "Job", null, new { @class = sublnkcls })</li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "training") ? "active" : ""; }
								<li>@Html.ActionLink(Resources.Resource.TrainingRecords, "Index", "Training", null, new { @class = sublnkcls })</li>
							</ul>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "journal") ? "active_btn" : "expand_btn";}
							<a href="/Journal/Index" class="@lnkcls" role="button">
								<span><img src="~/Content/mean/img/rec.svg" alt=""></span>
								<p>@Resources.Resource.GeneralJournal</p>
							</a>
						</li>
						<li class="btn_expand">
							@{ lnkcls = (ViewBag.ParentPage != null && (string)ViewBag.ParentPage.ToLower() == "setup") ? "active_btn" : "expand_btn";}
							<a class="@lnkcls" data-toggle="collapse" href="#collapseSetup" role="button" aria-expanded="false" aria-controls="collapseSetup">
								<span><img src="~/Content/mean/img/setup.svg" alt=""></span>
								<p>@Resources.Resource.Setup</p>
							</a>
							<ul class="submenu collapse" id="collapseSetup">
								@{
									Dictionary<string, Menu> dicSetupMenus = (Dictionary<string, Menu>)HttpContext.Current.Session["Menus"];
								}
								@if (dicSetupMenus != null)
								{
									foreach (string key in dicSetupMenus.Keys)
									{
										sublnkcls = "{0}";
										Menu menu = dicSetupMenus[key];
										if (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == key.ToLower()) { sublnkcls = string.Format(sublnkcls, "active"); } else { sublnkcls = string.Format(sublnkcls, string.Empty); }
										<li>@Html.ActionLink(menu.DisplayText, menu.ActionName, menu.ControllerName, new { }, new { @class = sublnkcls })</li>
									}
								}
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "accessrights") ? "active" : ""; }
								<li>@Html.ActionLink(string.Format(Resources.Resource.ManagementFormat, Resources.Resource.User), "Index", "AccessRight", new { }, new { @class = sublnkcls })</li>
								@{sublnkcls = (ViewBag.PageName != null && (string)ViewBag.PageName.ToLower() == "exchangerate") ? "active" : ""; }
								<li><a href="/Othersettings/ExchangeRate" class="@sublnkcls">@string.Format(Resources.Resource.SetupFormat, Resources.Resource.ExchangeRate)</a></li>

							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="dash__body">
				<input type="hidden" id="checkoutportal" value="@defaultcheckoutportal.ToLower()" />
				<input type="hidden" id="shop" value="@shop" />
				<script src="~/Scripts/ts/js/menu.js?v=@rand"></script>

				<div class="container">
					<div>
						@if (TempData["message"] != null)
						{
							<div id="msgblk" class="alert alert-success">@TempData["message"]</div>
						}
						@if (TempData["warning"] != null)
						{
							<div id="warnblk" class="alert alert-danger">@TempData["warning"]</div>
						}
					</div>
				</div>

				@Html.Partial("_TxtBlk")

				<div id="appInfo" data-checkoutportal="@defaultcheckoutportal" data-enablewhatsapplnk="@ComInfo.enableWhatsappLink" data-whatsappapilnk="@ConfigurationManager.AppSettings["WhatsappLinkUrl"]" data-whatsappapidefaulttxt="@ConfigurationManager.AppSettings["WhatsappAPIDefaultText"]"></div>

				<script src="~/Scripts/ts/js/app.js?v=@rand"></script>

				<div class="container body-content p-0">

					@RenderBody()

					@Html.Partial("_Footer")
				</div>

				@RenderSection("scripts", required: false)

				<span id="pagename" class="hide" data-page="@pagename"></span>

				<script>
					$(function () {
						let $msgblk = $('#msgblk');
						if ($msgblk.text() !== null) {
							timer = setTimeout(function () {
								$msgblk.hide('slow');
							}, 4000);
						}
					});
				</script>
			</div>

		</div>
	</section>
	<!-- dashbord-area-end -->

</body>
</html>