@using PPWLib.Models;
@{
	SessUser user = (SessUser)HttpContext.Current.Session["User"];
	bool unauthorized = TempData["UnAuthorized"] == null ? false : (bool)TempData["UnAuthorized"];
	bool enabledcheckdayends = user != null ? user.EnableCheckDayends : false;
	var signintxt = string.Concat(Resources.Resource.SignIn, " Outlook");
	var signouttxt = string.Concat(Resources.Resource.SignOut, " Outlook");
	var shop = user.shopCode ?? ConfigurationManager.AppSettings["Shop"];
	var device = user.dvcCode ?? ConfigurationManager.AppSettings["Device"];
}


@if (user != null)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		string deviceshop = $"{shop} {device}";

		@Html.Partial("_LangPartial")
		<div class="header__logout">
			<a href="#"><img src="~/Content/mean/img/Logout.png" alt=""></a>
		</div>

		<ul class="nav navbar-right" data-usershop="@user.shopCode" data-userdvc="@user.dvcCode">
			<li class="nav-item" data-deviceshop="@deviceshop"><a class="nav-link" href="#">@deviceshop @user.UserName <span class="small">(@string.Join(",", user.Roles))</span></a></li>
			@*<li class="nav-item mr-1"><a class="nav-link small" href="#"></a></li>*@
			<li class="nav-item"><a class="nav-link" id="btnLogout" href="#">@Resources.Resource.Logout</a></li>

		</ul>

	}
}
@*else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink(Resources.Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

		@Html.Partial("_LangPartial")
	</ul>
}*@

<script>
unauthorized = '@unauthorized' === 'True';
enablecheckdayends = '@enabledcheckdayends' === 'True';

$(document).on('click', '#btnLogout', function() {
    if (unauthorized)
    {
        logout();
    }
    else
    {
        if (enablecheckdayends)
        {
            getRemoteData('/Api/CheckIfDayendsDone', { }, checkIfDayendsDoneOk, getRemoteDataFail);
        }
        else
        {
            logout();
        }
    }
});

function logout()
{
    document.getElementById('logoutForm').submit();
}

function checkIfDayendsDoneOk(data)
{
    //console.log('checkdayenddata:', data);
    if (data.msg === 'done')
    {
        document.getElementById('logoutForm').submit();
    }
    else
    {
        window.location.href = '/POSFunc/Dayends';
    }
}

</script>
