@model LoginUserModel
@{
	string sitename = ViewBag.SiteName ?? Resources.Resource.SiteName;
	int currentculture = HttpContext.Current.Session["CurrentCulture"] == null ? int.Parse(ConfigurationManager.AppSettings["CultureOnLogin"]) : (int)HttpContext.Current.Session["CurrentCulture"];
	string usercode = Resources.Resource.UserName;
	string password = Resources.Resource.Password;

	bool debug = ConfigurationManager.AppSettings["Debug"] == "1";
	var rand = CommonHelper.GetVersionRandomNo();
	string shop = Model.SelectedShop;
	string device = Model.SelectedDevice;
	bool enableCRM = Model.enableCRM;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLogin", @redirectUrl = Model.RedirectUrl }))
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => model.SelectedShop)
	@Html.HiddenFor(model => model.SelectedDevice)
	@Html.HiddenFor(model => model.RedirectUrl)


	<main>
		<section class="login">
			<div class="m-container">
				<div class="login-box">
					<div class="logo-box">
						<img src="~/Images/logo.svg" class="m-img-fluid" alt="logo-img">
					</div>
					<div class="login-heading">
						<h2>@Resources.Resource.Login</h2>
					</div>
					<form>
						<div class="input-box">
							<div class="input-img">
								<img src="~/Images/i-1.svg" class="m-img-fluid" alt="icon">
							</div>
							<div class="input-field">
								<label for="Email">@Resources.Resource.Email</label>
								<input type="email" id="Email" name="Email" oninvalid="this.setCustomValidity('@Resources.Resource.EmailRequired')" oninput="setCustomValidity('')" placeholder="@Resources.Resource.Email" required>
							</div>
						</div>

						<div class="input-box">
							<div class="input-img">
								<img src="~/Images/i-2.svg" class="m-img-fluid" alt="icon">
							</div>
							<div class="input-field">
								<label for="Password">@Resources.Resource.Password</label>
								<input type="password" id="Password" name="Password" oninvalid="this.setCustomValidity('@Resources.Resource.PasswordRequired')" oninput="setCustomValidity('')" placeholder="@Resources.Resource.Password" required>
							</div>
						</div>
						<div class="btn-box">
							<button type="submit" id="btnLogin" class="login-btn">@Resources.Resource.Login</button>
						</div>
					</form>
				</div>
			</div>
		</section>


	</main>

}


@Html.Partial("_WaitingModal")
<div id="infoblk" data-debug="@debug" data-useremailrequiredtxt="@Resources.Resource.EmailRequired" data-passwordrequiredtxt="@Resources.Resource.PasswordRequired" data-shop="@shop" data-device="@device" data-redirecturl="@Model.RedirectUrl" data-enablecrm="@Model.enableCRM" data-islocal="@Request.IsLocal"></div>
<script src="~/Scripts/ts/js/login.js?v=@rand"></script>