@{ 
    bool showrecur = (bool)ViewData["showrecur"];
}

<div class="d-none d-md-block text-right">
    <button id="" type="button" class="btn btn-primary ml-3 my-2 makeorder btnPayment" style="height:5em;">@Resources.Resource.ProcessPayments</button>
    @if (showrecur)
    {
        <button id="" type="button" class="btn btn-info ml-3 my-2 btnSaveRecur makeorder">@Resources.Resource.SaveAsRecurring</button>
    }

    <button id="" type="button" class="btn btn-success ml-3 my-2 btnNewSales">@Resources.Resource.NewSales</button>
</div>

<div class="d-block d-sm-block d-md-none text-right">
    <button id="" type="button" class="btn btn-primary d-flex my-2 btnPayment makeorder">@Resources.Resource.ProcessPayments</button>
    @if (showrecur)
    {
        <button id="" type="button" class="btn btn-info d-flex my-2 btnSaveRecur makeorder">@Resources.Resource.SaveAsRecurring</button>
    }

    <button id="" type="button" class="btn btn-success d-flex my-2 btnNewSales">@Resources.Resource.NewSales</button>
</div>
