@{
    bool editmode = (bool)ViewData["editmode"];
    string status = (string)ViewData["status"];
    bool showViewBtn = (bool)ViewData["showViewBtn"];
    string viewbtncls = showViewBtn ? "" : "hide";
    string wholesalesmode = (string)ViewData["wholesalesmode"];
}
<div class="form-group" data-status="@status" data-editmode="@editmode" data-wholesalesmode="@wholesalesmode">

	@if (editmode)
	{
		if (!string.IsNullOrEmpty(wholesalesmode) && wholesalesmode != "readonly")
		{
			<button type="button" class="btn btn-warning mx-1" id="btnFile">@Resources.Resource.UploadFile</button>
			<button type="button" class="btn btn-primary @viewbtncls mx-1" id="btnViewFile">@Resources.Resource.ViewFile</button>

			if (status.ToLower() != WholeSalesStatus.invoice.ToString())
			{
				<a role="button" href="#" id="btnInvoice" class="btn btn-primary mr-2">@Resources.Resource.Invoice</a>
			}
		}

		if (status == WholeSalesStatus.created.ToString())
		{
			<a role="button" href="#" id="btnEdit" class="btn btn-info mr-2">@Resources.Resource.Edit</a>
		}
	}

	@if (!string.IsNullOrEmpty(wholesalesmode) && wholesalesmode != "readonly")
	{
		<a role="button" href="#" id="btnSave" class="btn btn-success mx-1">@Resources.Resource.Save</a>
	}
</div>