@{
	bool editmode = (bool)ViewData["editmode"];
	string status = (string)ViewData["status"];
	bool showViewBtn = (bool)ViewData["showViewBtn"];
	string viewbtncls = showViewBtn ? "" : "hide";
	string purchasemode = (string)ViewData["purchasemode"];
}
<div data-status="@status" data-editmode="@editmode" data-purchasemode="@purchasemode">

	@if (editmode)
	{
		if (purchasemode != "readonly")
		{
			<button type="button" class="btn btn-warning mx-1" id="btnFile">@Resources.Resource.UploadFile</button>
			<button type="button" class="btn btn-primary @viewbtncls mx-1" id="btnViewFile">@Resources.Resource.ViewFile</button>

			if (status.ToLower() != PurchaseStatus.opened.ToString())
			{
				<a role="button" href="#" id="btnBill" class="btn btn-primary mx-1">@Resources.Resource.ReceiveItems</a>
			}
		}
	}

	@if (purchasemode != "readonly")
	{
		<a role="button" href="#" id="btnSave" class="btn btn-success mx-1">@Resources.Resource.Submit</a>
	}

	<!--for managersales only-->
	@if (status == "draft")
	{
		<button type="button" id="btnSaveDraft" class="btn btn-success mx-1">@string.Format(Resources.Resource.SaveFormat, Resources.Resource.Draft)</button>
	}
</div>

