@{
    bool editmode = (bool)ViewData["editmode"];
    string status = (string)ViewData["status"];
    bool approvalmode = (bool)ViewData["approvalmode"];
    bool showViewBtn = (bool)ViewData["showViewBtn"];
    string viewbtncls = showViewBtn ? "" : "hide";
}
<div class="form-group">
    @if (approvalmode && status.ToLower() == PurchaseStatus.created.ToString())
    {
        @*<a role="button" href="#" id="btnEdit" class="btn btn-info mr-2">@Resources.Resource.Edit</a>
            <button id="" type="button" class="btn btn-primary mr-2 my-2 request makeorder btnRequestApproval hide" style="height:5em;">@Resources.Resource.Request4Approval</button>*@
        <a role="button" href="#" id="btnBill" class="btn btn-primary mr-2">@Resources.Resource.ReceiveItems</a>
        <a role="button" href="#" id="btnSave" class="btn btn-success mr-2">@Resources.Resource.Save</a>
    }
    else if (editmode && status.ToLower() != PurchaseStatus.opened.ToString())
    {
        <a role="button" href="#" id="btnBill" class="btn btn-primary mr-2">@Resources.Resource.ReceiveItems</a>
        <a role="button" href="#" id="btnSave" class="btn btn-success mr-2">@Resources.Resource.Save</a>
    }
    else
    {
        
    }

    @if (editmode)
    {
        <button type="button" class="btn btn-warning mr-2" id="btnFile">@Resources.Resource.UploadFile</button>
        <button type="button" class="btn btn-primary @viewbtncls mr-2" id="btnViewFile">@Resources.Resource.ViewFile</button>
    }

    <button type="button" class="btn btn-secondary" id="btnReload">@Resources.Resource.Reload</button>
</div>

