@{ 

}
<div id="salesgroupMemberModal" class="container">
    <div id="norecord" class="alert alert-warning hide">@Resources.Resource.NoDataFound</div>
    <table id="tblSalesGroup" class="table table-bordered  table-hover table-condensed">
        <tr class="gray-header">
            <th class="text-left colheader" data-col="0">@Resources.Resource.Name</th>
            <th class="text-left colheader" data-col="1">@Resources.Resource.SalesPeople</th>
            <th class="text-left colheader" data-col="2">@Resources.Resource.CreateTime</th>
            <th class="text-left colheader" data-col="3">@Resources.Resource.ModifyTime</th>
            <th style="width:80px;max-width:80px;"></th>
        </tr>
        <tr style="display:none">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br />
    <div class="Pager"></div>

</div>
