@{
	string groupname = string.Format(Resources.Resource.NameFormat, Resources.Resource.Group);
	PagedList.IPagedList<EnquiryGroupModel> PagingGroupList = ViewData["PagingGroupList"] == null ? null : (PagedList.IPagedList<EnquiryGroupModel>)ViewData["PagingGroupList"];
	string headercls = PagingGroupList != null ? "colheader" : "";
}
<table id="tblEnquiryGroup" class="table table-hover table-bordered table-condensed">
	<thead class="gray-header">
		<tr>
			<th class="@headercls text-center name" data-col="0">@groupname</th>
			<th class="text-center company" data-col="">@Resources.Resource.Company</th>
			<th class="text-center remark">@Resources.Resource.Remark</th>
			<th class="@headercls text-center" data-col="1">@Resources.Resource.CreateTime</th>
			@if (PagingGroupList != null)
			{
				<th class="@headercls text-center" data-col="2">@Resources.Resource.ModifyTime</th>
			}

			<th class="text-center action"></th>
			@if (PagingGroupList == null)
			{
				<th class="text-center checkbox">
					<input type="checkbox" class="group" id="chkall" />
				</th>
			}

		</tr>
	</thead>
	<tbody>
		@if (PagingGroupList != null)
		{
			foreach (var x in PagingGroupList)
			{
				<tr data-id="@x.Id">
					<td class="text-center" title="@x.egName">@x.egName</td>
					<td class="text-center" title="@x.CompanyNames">@Html.Raw(x.CompanyNames)</td>
					<td class="text-center" title="@x.Remark">@x.RemarkDisplay</td>
					<td class="text-center" title="@x.CreateTimeDisplay">@x.CreateTimeDisplay</td>
					@if (PagingGroupList != null)
					{
						<td class="text-center" title="@x.ModifyTimeDisplay">@x.ModifyTimeDisplay</td>
					}

					<td class="text-center action">
						<a role="button" class="btn btn-info edit" href="/EnquiryGroup/Edit/@x.Id" title="@Resources.Resource.Edit">@Resources.Resource.Edit</a>
						<button type="button" class="btn btn-danger remove" data-id="@x.Id" title="@Resources.Resource.Remove">@Resources.Resource.Remove</button>
					</td>
					@if (PagingGroupList == null)
					{
						<td class="text-center checkbox">
							<input type="checkbox" class="chk group" data-id="@x.Id" value="@x.Id" />
						</td>
					}
				</tr>
			}
		}
	</tbody>
</table>
