@{
    string currency = ViewData["currency"] != null ? (string)ViewData["currency"] : "";

    bool forpurchase = ViewData["forpurchase"] != null ? (bool)ViewData["forpurchase"] : false;
    bool forwholesales = ViewData["forwholesales"] != null ? (bool)ViewData["forwholesales"] : false;
    bool forsales = ViewData["forsales"] != null ? (bool)ViewData["forsales"] : false;
    bool forpreorder = ViewData["forpreorder"] != null ? (bool)ViewData["forpreorder"] : false;

    string priceheader = ViewData["priceheader"] != null ? (string)ViewData["priceheader"] : Resources.Resource.SellingPrice;
}
<div id="norecord" class="alert alert-warning hide">@Resources.Resource.NoDataFound</div>
<table id="tblItem" class="table table-bordered  table-hover table-condensed" data-forpurchase="@forpurchase">

    <thead>
        <tr class="gray-header">
            <th class="text-left colheader" data-col="0">@Resources.Resource.ItemCode</th>
            <th class="text-left colheader" data-col="1">@Resources.Resource.ItemName</th>
            @if (!forpurchase && !forpreorder)
            {
                <th class="text-right">@Resources.Resource.QtySellable</th>
            }

            @if (!string.IsNullOrEmpty(currency))
            {
                <th class="text-left colheader" data-col="2">@priceheader (@currency)</th>
            }
            <th>@Resources.Resource.Batch/@Resources.Resource.SerialNo/@Resources.Resource.ExpiryDate</th>
            <th>@Resources.Resource.ItemVariations</th>
            @if (!forpurchase)
            {
                <th>@Resources.Resource.Promotion <span class="small text-danger">(</span><span class="small text-danger">@Resources.Resource.SingleClick4Selection</span><span class="small text-danger">)</span></th>
            }
        </tr>
    </thead>

    <tbody></tbody>
</table>
<br />
<div class="Pager"></div>
