@{
    var stCode = (string)ViewData["stCode"];
    var shop = (string)ViewData["shop"];
    var shopname = (string)ViewData["shopname"];
    var batpolist = (List<string>)ViewData["batpolist"];
    var batchqtylist = (List<BatchQty>)ViewData["batchqtylist"];
    var batdelqtylist = (List<BatDelQty>)ViewData["batdelqtylist"];

    var itemcode = (string)ViewData["itemcode"];
    var pbvqlist = (List<PoBatVQ>)ViewData["pbvqlist"];
    int qty = (int)ViewData["qty"];
    CommonLib.Models.ItemOptions itemOptions = (CommonLib.Models.ItemOptions)ViewData["itemOptions"];

    bool hasItemOption = (bool)ViewData["hasItemOption"];
    bool hasIvOnly = (bool)ViewData["hasIvOnly"];

    List<SBLib.Models.WholeSales.BatSnVt> batsnvtlist = (List<SBLib.Models.WholeSales.BatSnVt>)ViewData["batsnvtlist"];
    List<SnVt> snvtlist = (List<SnVt>)ViewData["snvtlist"];
    var snpolist = snvtlist.Select(x => x.pocode).Distinct().ToList();
    List<VtQty> vtqtylist = (List<VtQty>)ViewData["vtqtylist"];
    List<VtDelQty> vtdelqtylist = (List<VtDelQty>)ViewData["vtdelqtylist"];
    var vtpolist = vtqtylist.Select(x => x.pocode).Distinct().ToList();

    List<IvQty> ivqtylist = (List<IvQty>)ViewData["ivqtylist"];
    List<IvDelQty> ivdelqtylist = (List<IvDelQty>)ViewData["ivdelqtylist"];
    var ivpolist = ivqtylist.Select(x => x.pocode).Distinct().ToList();

    List<PoItemVariModel> IvInfo = (List<PoItemVariModel>)ViewData["IvInfo"];

    const string NA = "<span class='font-weight-bold'>N/A</span>";

    int tblIndex = (int)ViewData["i"];
}
<div class="transferModal" data-batpolist="@string.Join(",",batpolist)">
    <h6 class="shop">@shopname</h6>
    <table class="table table-bordered table-condensed tblTransfer" data-shop="@shop" data-idx="@tblIndex">
        <thead class="gray-header">
            <tr>
                @if (hasItemOption)
                {
                    <th class="text-right">@Resources.Resource.BatchNo (@Resources.Resource.PurchaseOrder)</th>
                    <th class="text-right">@Resources.Resource.SerialNo (@Resources.Resource.PurchaseOrder)</th>
                    <th class="text-right">@Resources.Resource.ExpiryDate (@Resources.Resource.PurchaseOrder)</th>
                }
                @if (hasIvOnly)
                {
                    <th class="text-center">@Resources.Resource.ItemVariations (@Resources.Resource.PurchaseOrder)</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (hasItemOption)
            {
                if (itemOptions.ChkBatch)
                {
                    if ((itemOptions.ChkSN && itemOptions.WillExpire) || (itemOptions.ChkSN && !itemOptions.WillExpire) || (!itemOptions.ChkSN && !itemOptions.WillExpire)) //all || bat & sn (no vt) || bat only
                    {
                        foreach (var pocode in batpolist)
                        {
                            int idx = 0;
                            foreach (var e in batchqtylist)
                            {
                                if (e.pocode == pocode)
                                {
                                    string batcode = e.batcode;
                                    <tr data-batcode="@batcode" data-idx="@idx">
                                        @if (!itemOptions.ChkSN && !itemOptions.WillExpire) //bat only
                                        {
                                            //get batvtdelqty:
                                            var batdel = batdelqtylist.FirstOrDefault(x => x.batcode == batcode);
                                            e.sellableqty = batdel == null ? e.batqty : e.batqty - (int)batdel.batdelqty;
                                            int currentbdq = tblIndex == 0 ? e.sellableqty : 0;
                                            string batqtyId = $"{pocode}_{batcode}_{itemcode}_{idx}";
                                            var disabled = tblIndex == 0 ? "disabled" : "";
                                            <td class="text-right">
                                                <div class="row form-inline justify-content-end mx-1 mb-3">
                                                    <label>
                                                        @batcode (@pocode)
                                                    </label>
                                                    <input type="text" class="form-control batqtytf mx-2 numonly" data-id="@batqtyId" data-tblindex="@tblIndex" data-shop="@shop" data-seq="@e.seq" data-itemcode="@itemcode" data-batch="@batcode" data-pocode="@pocode" data-batqty="@e.batqty" min="0" max="@e.sellableqty" style="max-width:80px;" value="@currentbdq" @disabled>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-right">
                                                <label>
                                                    @batcode (@pocode)
                                                </label>
                                            </td>
                                        }

                                        <td class="text-right">
                                            @if (itemOptions.ChkSN) // bat & sn (no vt)
                                            {
                                                foreach (var ele in batsnvtlist)
                                                {
                                                    if (ele.batcode == e.batcode && ele.pocode == pocode)
                                                    {
                                                        var _checked = tblIndex == 0 ? "checked" : "";
                                                        var disabled = tblIndex == 0 ? "disabled" : "";
                                                        <div class="form-check">
                                                            <input class="chkbatsnvttf" type="checkbox" value="@ele.sn" data-tblindex="@tblIndex" data-shop="@shop" data-sn="@ele.sn" data-itemcode="@itemcode" data-pocode="@pocode" data-batcode="@ele.batcode" data-snvt="@ele.vt" @_checked @disabled>
                                                            <label class="">
                                                                @ele.sn (@pocode)
                                                            </label>
                                                        </div>
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                @Html.Raw(NA);
                                            }
                                        </td>
                                        <td class="text-right">
                                            @if (itemOptions.WillExpire) // all
                                            {
                                                foreach (var ele in batsnvtlist)
                                                {
                                                    if (ele.batcode == e.batcode && ele.pocode == pocode)
                                                    {
                                                        var vtdisplay = !string.IsNullOrEmpty(ele.vt) ? string.Concat(ele.vt, " (", pocode, ")") : "N/A";
                                                        <div class="form-check">
                                                            <label>@vtdisplay</label>
                                                        </div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @Html.Raw(NA);
                                            }
                                        </td>
                                    </tr>
                                    idx++;
                                }
                            }
                        }
                    }
                    if (!itemOptions.ChkSN && itemOptions.WillExpire) //bat & vt (no sn)
                    {
                        foreach (var pocode in batpolist)
                        {
                            int idx = 0;
                            foreach (var e in batchqtylist)
                            {
                                if (e.pocode == pocode)
                                {
                                    string batcode = e.batcode;
                                    <tr data-batcode="@batcode" data-idx="@idx">
                                        <td class="text-right"><label>@batcode (@pocode)</label></td>
                                        <td class="text-right">@Html.Raw(NA)</td>
                                        <td class="text-right">
                                            @for (int i = 0; i < pbvqlist.Count; i++)
                                            {
                                                var v = pbvqlist[i];
                                                if (v.pocode == pocode && v.batchcode == batcode)
                                                {
                                                    //get batvtdelqty:
                                                    var batvtdel = batdelqtylist.FirstOrDefault(x => x.batcode == batcode && x.VtDisplay == v.vt);
                                                    v.sellableqty = batvtdel == null ? v.batchqty : v.batchqty - (int)batvtdel.batdelqty;
                                                    int currentbdq = tblIndex == 0 ? v.sellableqty : 0;
                                                    string vtdisplay = v.vt;
                                                    string batvtqtyId = $"{pocode}_{batcode}_{itemcode}_{vtdisplay}_{i}";
                                                    int batseq = i + 1;
                                                    var disabled = tblIndex == 0 ? "disabled" : "";
                                                    <div class="row form-inline justify-content-end mx-1 mb-3">
                                                        <label for="@batvtqtyId">
                                                            @vtdisplay (@v.pocode)
                                                        </label>
                                                        <input type="text" class="form-control batvtqtytf mx-2 numonly" data-id="@batvtqtyId" data-tblindex="@tblIndex" data-shop="@shop" data-batseq="@batseq" data-itemcode="@itemcode" data-batch="@v.batchcode" data-pocode="@v.pocode" data-batqty="@v.batchqty" data-batvt="@v.vt" min="0" max="@v.sellableqty" style="max-width:80px;" value="@currentbdq" @disabled>
                                                    </div>
                                                }

                                            }
                                        </td>
                                    </tr>
                                    idx++;
                                }

                            }
                        }
                    }
                }
                else
                {
                    if (itemOptions.ChkSN && itemOptions.WillExpire || (itemOptions.ChkSN && !itemOptions.WillExpire)) // sn & vt (no bat) || sn only
                    {
                        foreach (var pocode in snpolist)
                        {
                            foreach (var ele in snvtlist)
                            {
                                <tr data-snvtlistcount="@snvtlist.Count">
                                    <td class="text-right">@Html.Raw(NA)</td>
                                    <td class="text-right">
                                        @if (ele.pocode == pocode)
                                        {
                                            var Id = "chksnvt" + ele.sn;
                                            var disabled = tblIndex == 0 ? "disabled" : "";
                                            var _checked = tblIndex == 0 ? "checked" : "";
                                            <div class="form-check">
                                                <input class="chksnvttf" type="checkbox" value="@ele.sn" data-tblindex="@tblIndex" data-shop="@shop" data-sn="@ele.sn" data-itemcode="@itemcode" data-pocode="@pocode" data-snvt="@ele.vt" id="@Id" @disabled @_checked>
                                                <label class="" for="@Id">
                                                    @ele.sn (@pocode)
                                                </label>
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        @if (itemOptions.WillExpire)
                                        {
                                            if (ele.pocode == pocode)
                                            {
                                                var vtdisplay = !string.IsNullOrEmpty(ele.vt) ? string.Concat(ele.vt, " (", pocode, ")") : "N/A";
                                                <div class="form-check">
                                                    <label>@vtdisplay</label>
                                                </div>
                                            }

                                        }
                                        else //sn only
                                        {
                                            @Html.Raw(NA);
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    }

                    if (!itemOptions.ChkSN && itemOptions.WillExpire) // vt only
                    {
                        foreach (var pocode in vtpolist)
                        {
                            int idx = 0;
                            foreach (var ele in vtqtylist)
                            {
                                <tr data-idx="@idx">
                                    <td class="text-right">@Html.Raw(NA)</td>
                                    <td class="text-right">
                                        @Html.Raw(NA)
                                    </td>
                                    <td class="text-right">
                                        @if (ele.pocode == pocode)
                                        {
                                            var vtdisplay = !string.IsNullOrEmpty(ele.vt) ? string.Concat(ele.vt, " (", pocode, ")") : "N/A";
                                            var vtId = "vt_" + ele.vtId;
                                            //get vtdelqty:
                                            var vtdel = vtdelqtylist.FirstOrDefault(x => x.vtId == ele.vtId);
                                            ele.sellableqty = vtdel == null ? ele.qty : ele.qty - (int)vtdel.delqty;
                                            int vtqty = tblIndex == 0 ? ele.sellableqty : 0;
                                            var disabled = tblIndex == 0 ? "disabled" : "";
                                            <div class="row form-inline justify-content-end mx-1 mb-3">
                                                <label for="@vtId">
                                                    @vtdisplay
                                                </label>
                                                <input type="text" class="form-control vtqtytf mx-2 numonly" data-tblindex="@tblIndex" data-shop="@shop" data-id="@vtId" data-itemcode="@itemcode" data-pocode="@pocode" min="0" max="@ele.sellableqty" style="max-width:80px;" value="@vtqty" @disabled>
                                            </div>
                                        }
                                    </td>
                                </tr>
                                idx++;
                            }
                        }
                    }
                }
            }
            @if (hasIvOnly)
            {
                foreach (var pocode in ivpolist)
                {
                    int idx = 0;
                    foreach (var e in ivqtylist)
                    {
                        int ivsellableqty = 0;
                        int ivdeledqty = 0;
                        foreach(var id in ivdelqtylist)
                        {
                            if(id.pocode==pocode && id.itemcode==e.itemcode && id.ivIdList == e.ivIdList)
                            {
                                ivdeledqty += (int)id.delqty;
                            }
                        }
                        ivsellableqty = e.qty - ivdeledqty;

                        <tr data-idx="@idx">
                            <td class="text-right">
                                @if (e.pocode == pocode)
                                {
                                    string Id = e.Id;
                                    var ivdisplay = "<ul class='nostylelist'>";
                                    foreach (var x in IvInfo)
                                    {
                                        if (x.Id == Id)
                                        {
                                            ivdisplay += $"<li><label>{x.iaName}</label>:<label>{x.iaValue}</label>&nbsp;<label>({pocode})</label></li>";
                                        }

                                    }
                                    ivdisplay += "</ul>";
                                    var disabled = tblIndex == 0 ? "disabled" : "";
                                    var poivId = Id;
                                    int ivqty = tblIndex == 0 ? ivsellableqty : 0;
                                    <div class="row justify-content-center mx-1 mb-3">
                                        <label for="@poivId">
                                            @Html.Raw(ivdisplay)
                                        </label>
                                        <input type="text" class="form-control ivqtytf mx-2 numonly" data-tblindex="@tblIndex" data-shop="@shop" data-poivid="@poivId" data-itemcode="@itemcode" data-pocode="@pocode" data-ividlist="@e.ivIdList" min="0" max="@ivsellableqty" style="max-width:80px;" value="@ivqty" @disabled>
                                    </div>
                                }
                            </td>
                        </tr>
                        idx++;
                    }
                }
            }
        </tbody>
    </table>

</div>
