@{
    string status = ViewData["status"] == null ? "" : (string)ViewData["status"];
    bool isdeliver = (!string.IsNullOrEmpty(status) && (status == "deliver" || status == "partialdeliver" || status.ToLower() == SalesStatus.presettled.ToString() || status.ToLower() == SalesStatus.created.ToString()));
    string poqtylbl = isdeliver ? "" : string.Concat("(", Resources.Resource.PurchaseOrder, "/", Resources.Resource.Qty, ")");
}
<div id="validthruModal">
    <div class="container">
        <h4 id="validthruLocItem"></h4>
		<table id="tblVt" class="table table-bordered  table-hover table-condensed">
			<thead class="gray-header">
				<tr>
					<th class="text-right">@Resources.Resource.ExpiryDate (@Resources.Resource.PurchaseOrder)</th>
					@if ((!isdeliver) || status.ToLower() == WholeSalesStatus.created.ToString())
					{
						<th class="text-right">@Resources.Resource.DeliveredQty</th>

						<th class="text-right">@Resources.Resource.CurrentBatchTypeSellableQty/@string.Format(Resources.Resource.TotalFormat, Resources.Resource.Qty)</th>
					}

				</tr>
			</thead>
			<tbody></tbody>

			@if ((!isdeliver) || status.ToLower() == WholeSalesStatus.created.ToString())
			{
				<tfoot>
					<tr class="my-auto">
						<td colspan="3">
							<div class="form-group row justify-content-end my-auto">
								<label for="totalvtdelqty" class="col-form-label">@string.Format(Resources.Resource.DeliveryFormat, Resources.Resource.Qty)</label>

								<input type="number" class="form-control mx-3" readonly id="totalvtdelqty" />

							</div>

						</td>
					</tr>
				</tfoot>
			}

		</table>
    </div>
</div>
