@{
    ViewBag.Title = Resources.Resource.Login;
    Layout = null;    
    int rand = new Random().Next(1000, 10000);
    string cssbsfile = HttpContext.Current.Session["CssBSFile"].ToString();
    string scriptbsfile = HttpContext.Current.Session["ScriptBSFile"].ToString();
	string selectedLangTxt = CommonHelper.GetSelectedLangTxt(CultureHelper.CurrentCulture);
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @Resources.Resource.SiteName</title>
	<link rel="icon" type="image/png" href="~/Content/favicon_io/favicon-16x16.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/login.css?v=@rand">
	<link rel="stylesheet" type="text/css" href="~/Content/bs4/bootstrap.min.css">
	<link href="/Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/jquery-3.6.0.js"></script>
	<script src="/Scripts/bs4/bootstrap.min.js"></script>
	<script src="/Scripts/jquery-ui/jquery-ui.min.js"></script>
	<script src="/Scripts/jquery-default-button.min.js"></script>
</head>
<body>
	<!-- header part start -->
	<header class="header">
		
		<div class="language-box">
			<div class="selected-language">
				<h5>@selectedLangTxt</h5>
				<span><img src="~/images/down-arrow.svg" class="m-img-fluid" alt="icon"></span>

				<div class="all-language-box">
					<p>@Html.ActionLink("繁", "ChangeCurrentCulture", "Home", new { Id = 0 }, new { @class = "dropdown-item lang", @data_culture = "0" })</p>
					<p>@Html.ActionLink("简", "ChangeCurrentCulture", "Home", new { Id = 1 }, new { @class = "dropdown-item lang", @data_culture = "1" })</p>
					<p>@Html.ActionLink("Eng", "ChangeCurrentCulture", "Home", new { Id = 2 }, new { @class = "dropdown-item lang", @data_culture = "2" })</p>
				</div>
			</div>
		</div>
	</header>
	<!-- header part end -->
	

	@Html.Partial("_TxtBlk")
	<script src="~/Scripts/ts/js/app.js?v=@rand"></script>

	<div class="container">
		<div class="">
			@Html.Partial("_LoginPage")
		</div>
	</div>

</body>
</html>