@model LoginUserModel
@{
	ViewBag.Title = Resources.Resource.Login;
	Layout = null;
	int rand = new Random().Next(1000, 10000);
	string cssbsfile = HttpContext.Current.Session["CssBSFile"].ToString();
	string scriptbsfile = HttpContext.Current.Session["ScriptBSFile"].ToString();
	string selectedLangTxt = CommonHelper.GetSelectedLangTxt(CultureHelper.CurrentCulture);

	int currentculture = HttpContext.Current.Session["CurrentCulture"] == null ? int.Parse(ConfigurationManager.AppSettings["CultureOnLogin"]) : (int)HttpContext.Current.Session["CurrentCulture"];
	string usercode = Resources.Resource.UserName;
	string password = Resources.Resource.Password;

	string shop = Model.SelectedShop;
	string device = Model.SelectedDevice;
	bool enableCRM = Model.enableCRM;

	string errmsg;

	switch (ViewBag.Err)
	{
		case "2":
			errmsg = Resources.Resource.InvalidLogin;
			break;
		case "1":
			errmsg = Resources.Resource.SalesDeviceNotFound;
			break;
		default:
		case "0":
			errmsg = "";
			break;
	}
	string alertcls = string.IsNullOrEmpty(errmsg) ? "" : "alert alert-danger";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @Resources.Resource.SiteName</title>
	<link rel="icon" type="image/png" href="~/Content/favicon_io/favicon-16x16.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/site/login.css?v=@rand">
	<link rel="stylesheet" type="text/css" href="~/Content/bs4/bootstrap.min.css">
	<link href="/Scripts/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/jquery-3.6.0.js"></script>
	<script src="/Scripts/bs4/bootstrap.min.js"></script>
	<script src="/Scripts/jquery-ui/jquery-ui.min.js"></script>
	<script src="/Scripts/jquery-default-button.min.js"></script>
</head>
<body>
	<!-- header part start -->
	<header class="header">

		<div class="language-box">
			<div class="selected-language">
				<h5>@selectedLangTxt</h5>
				<span><img src="~/images/down-arrow.svg" class="m-img-fluid" alt="icon"></span>

				<div class="all-language-box">
					<p>@Html.ActionLink("繁", "ChangeCurrentCulture", "Home", new { Id = 0 }, new { @class = "dropdown-item lang", @data_culture = "0" })</p>
					<p>@Html.ActionLink("简", "ChangeCurrentCulture", "Home", new { Id = 1 }, new { @class = "dropdown-item lang", @data_culture = "1" })</p>
					<p>@Html.ActionLink("Eng", "ChangeCurrentCulture", "Home", new { Id = 2 }, new { @class = "dropdown-item lang", @data_culture = "2" })</p>
				</div>
			</div>
		</div>
	</header>
	<!-- header part end -->
	@Html.Partial("_TxtBlk")
	@Html.Partial("_TxtBlk1")
	<script src="~/Scripts/ts/js/app.js?v=@rand"></script>
	<script src="~/Scripts/ts/js/func.js?v=@rand"></script>

	<div class="container">
		<div class="">
			@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLogin", @redirectUrl = Model.RedirectUrl }))
			{
				@Html.AntiForgeryToken()

				@Html.HiddenFor(model => model.SelectedShop)
				@Html.HiddenFor(model => model.SelectedDevice)
				@Html.HiddenFor(model => model.RedirectUrl)
				
				<main>
					<section id="loginblk" class="login">
						<div class="m-container">
							<div class="login-box">
								<div class="logo-box">
									<img src="~/Images/logo.svg" class="m-img-fluid" alt="logo-img">
								</div>
								<div class="login-heading">
									<h2>@Resources.Resource.Login</h2>
								</div>
								<form>
									@*<div class="input-box">
										<div class="input-img">
											<img src="~/images/account.png" class="m-img-fluid" alt="icon">
										</div>
										<div class="input-field">
											<label for="apId">@Resources.Resource.Account4Journal</label>
											@Html.DropDownList("apId", Model.AccountProfileList, "", new { @class = "form-control", @name = "apId" })
										</div>
									</div>*@
									<div class="input-box">
										<div class="input-img">
											<img src="~/Images/i-1.svg" class="m-img-fluid" alt="icon">
										</div>
										<div class="input-field">
											<label for="Email">@Resources.Resource.Email</label>
											<input type="email" id="Email" name="Email" oninvalid="this.setCustomValidity('@Resources.Resource.EmailRequired')" oninput="setCustomValidity('')" placeholder="@Resources.Resource.Email" required>
										</div>
									</div>

									<div class="input-box">
										<div class="input-img">
											<img src="~/Images/i-2.svg" class="m-img-fluid" alt="icon">
										</div>
										<div class="input-field">
											<label for="Password">@Resources.Resource.Password</label>
											<input type="password" id="Password" name="Password" oninvalid="this.setCustomValidity('@Resources.Resource.PasswordRequired')" oninput="setCustomValidity('')" placeholder="@Resources.Resource.Password" required>
										</div>
									</div>
									<div class="btn-box">
										<button type="submit" id="btnLogin" class="login-btn">@Resources.Resource.Login</button>
									</div>
								</form>

								<div class="text-center my-3 @alertcls">@errmsg</div>
							</div>
						</div>
					</section>
				</main>
			}


			@Html.Partial("_WaitingModal")

			<div id="infoblk" data-useremailrequiredtxt="@Resources.Resource.EmailRequired" data-passwordrequiredtxt="@Resources.Resource.PasswordRequired" data-shop="@shop" data-device="@device" data-redirecturl="@Model.RedirectUrl" data-enablecrm="@Model.enableCRM" data-islocal="@Request.IsLocal"></div>
			<script src="~/Scripts/ts/js/login.js?v=@rand"></script>
		</div>
	</div>

</body>
</html>