@model UserEditModel
@{
	UserModel User = Model.User;
	ViewBag.Title = User.surUID == 0 ? string.Format(Resources.Resource.AddFormat, Resources.Resource.SalesPerson) : string.Format(Resources.Resource.EditFormat, Resources.Resource.SalesPerson);
	bool edit = User.surUID > 0;
	string userCode = edit ? User.UserCode : Model.MaxSalesCode;
	bool approvalmode = ConfigurationManager.AppSettings["ApprovalMode"] == "1";
}

@using (Html.BeginForm("Edit", "AccessRight", FormMethod.Post, new { @id = "arform" }))
{
	@Html.AntiForgeryToken()

	<h3 class="mb-4">@ViewBag.Title</h3>

	<div class="form-horizontal">

		<div class="form-group">
			<label for="UserCode">@Resources.Resource.UserCode</label>
			<input class="form-control text-box single-line" id="UserCode" name="UserCode" readonly="readonly" type="text" value="@userCode">
		</div>

		<div class="form-group required">
			<label for="UserName">@Resources.Resource.UserName</label>
			<input type="text" class="form-control" id="UserName" name="UserName" value="@(edit?User.UserName:"")" />
		</div>

		<div class="form-group">
			<label for="Email">@Resources.Resource.Email</label>
			<input type="email" class="form-control" id="Email" name="Email" value="@(edit?User.Email:"")" />
		</div>

		@if (approvalmode)
		{
			<div class="form-group">
				<label for="drpPosAdmin">@Resources.Resource.FrmWhomReceiveNotificationEmail</label>
				<select class="form-control" id="drpPosAdmin">
					<option value="">-- @Resources.Resource.Select --</option>
					@foreach (var a in Model.PosAdminList)
					{
						var selected = User.ManagerId == a.surUID ? "selected" : "";
						<option value="@a.surUID" @selected>@a.UserName</option>
					}
				</select>

			</div>
		}


		@if (edit)
		{
			<div id="chkpassblk" class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="chkpass">
				<label class="form-check-label" for="chkpass">
					@Resources.Resource.ChangePass
				</label>
			</div>
		}


		<div id="passblk" class="hide">
			<div class="form-group">
				<label for="Password">@Resources.Resource.Password</label>
				<input type="password" class="form-control" id="Password" name="Password" value="@(edit?User.Password:"")" />
			</div>

			<div class="form-group">
				<label for="ConfirmPassword">@Resources.Resource.ConfirmPassword</label>
				<input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="" />
			</div>
		</div>

	</div>

	<hr />
	<h3>@Resources.Resource.AccessRights</h3>

	<div class="form-inline">
		@{ var idx = 0;}
		@foreach (var item in Model.DicAR)
		{
			string selected = Model.AccessRights.Any(x => x.FuncCode == item.Key) ? " checked" : "";

			<div class="form-check-inline">
				<label class="form-check-label">
					<input id="@item.Key" type="checkbox" class="form-check-input chkcode" name="FuncCodes[@idx]" data-code="@item.Key" value="@item.Key" @selected>@item.Value
				</label>
			</div>
			idx++;
		}
	</div>

	<div class="form-group my-4">
		<button id="btnSave" type="button" class="btn btn-success">@Resources.Resource.Save</button>		
		<input type="hidden" id="surUID" value="@User.surUID" />
		<input type="hidden" id="checkpass" value="@(edit?User.checkpass:false)" />
		<input type="hidden" id="currpass" name="Password" value="@(edit?User.Password:"")" />
	</div>
}

<div>
	@Html.ActionLink(Resources.Resource.BackToList, "Index", "AccessRight")
</div>

@Html.Partial("_WaitingModal")
<div id="infoblk" data-addnewlyaddedtxt="@Resources.Resource.AddNewlyAddedEmployeeToABSS" data-debug="@ConfigurationManager.AppSettings["Debug"]"></div>
<script src="~/Scripts/ts/js/settings/accessrights/edit.js?v=@CommonHelper.GetVersionRandomNo()"></script>