@model UserEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.StaffAR;
	var rand = CommonHelper.GetVersionRandomNo();
	var btncls = string.Concat("btn btn-info", " ", Model.BtnClass);
}
<link rel="stylesheet" type="text/css" href="~/Content/admin/accessrights/index.css?v=@rand" />

<h3>@ViewBag.Title</h3>

<p class="my-3">
	<button id="btnAdd" type="button" class="@btncls mx-1" data-href="/AccessRight/Edit?userId=0" data-userlicensefullprompt="@Resources.Resource.UserLicensedFullPrompt">@Resources.Resource.Add</button>
	<button id="btnReload" type="button" class="btn btn-warning mx-1">@Resources.Resource.Reload</button>
</p>

@using (Html.BeginForm("Index", "AccessRight", FormMethod.Get, new { @Id = "frmUser" }))
{
	@Html.AntiForgeryToken()
	<table id="tblUser" class="table table-bordered table-hover table-condensed">
		<thead class="gray-header">
			<tr>
				<th class="text-center colheader" data-col="0">@Resources.Resource.Name</th>
				<th class="text-center colheader" data-col="1">@Resources.Resource.Status</th>
				<th class="text-center colheader" data-col="2">@Resources.Resource.ModifyTime</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.PagingUserList)
			{
				if (user.UserCode.ToLower() != "superadmin")
				{
					string status = (bool)user.surIsActive ? Resources.Resource.Active : Resources.Resource.Inactive;
					<tr>

						<td class="text-center">@user.UserName</td>
						<td class="text-center">@status</td>
						<td class="text-center">@user.ModifyTimeDisplay</td>
						<td>
							<button type="button" class="btn btn-info btnedit mx-2" data-userid="@user.surUID">@Resources.Resource.Edit</button>
							<button type="button" class="btn btn-danger btndelete" data-userid="@user.surUID">@Resources.Resource.Remove</button>
						</td>
					</tr>
				}

			}
		</tbody>
	</table>

	<div id="pagingblk" class="my-3">
		@Html.PagedListPager(Model.PagingUserList, PageNo => Url.Action("Index",
	new { PageNo, SortOrder = Model.CurrentSortOrder, SortCol = Model.SortCol, Keyword = Model.Keyword, PageSize = Model.PageSize }))
	</div>

	@Html.Partial("_SortOrderColHidden")
}



<div id="infoblk" data-userlicensedfullprompt="@Resources.Resource.UserLicensedFullPrompt"></div>
<script src="~/Scripts/ts/js/admin/accessrights/index.js?v=@rand"></script>