@model  PPWLib.Models.CustomerEditModel
@using PagedList.Mvc;
@{
    ViewBag.Title = Resources.Resource.Customer;
    int rand = CommonHelper.GetVersionRandomNo();
    string selectatleastonecustomertxt = string.Format(Resources.Resource.SelectAtLeastOne, Resources.Resource.Customer);
    string idlist = string.Join(",", Model.IdList);
}

<h2>@ViewBag.Title</h2>

<p class="my-3">
    @Html.ActionLink(Resources.Resource.Add, "Edit", null, new { @class = "btn btn-info" })
</p>


@using (Html.BeginForm("Index", "PGCustomer", FormMethod.Get, new { @Id = "frmCustomer" }))
{
    <div class="form-inline mb-2 my-4">
        <div class="form-group">
            <input type="text" class="form-control" id="txtKeyword" placeholder="@Resources.Resource.KeywordRequired" />
            <button id="btnSearch" type="button" class="btn btn-success ml-4">@Resources.Resource.Search</button>

            <button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
        </div>
    </div>

    <div id="norecord" class="alert alert-warning hide">@Resources.Resource.NoDataFound</div>
    <table id="tblCustomer" class="table table-bordered  table-hover table-condensed">
        <thead class="gray-header">
            <tr>
                @if (Model.CheckoutPortal.ToLower() == "kingdee")
                {
                    <th scope="col" class="text-center colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Name</th>
                    <th scope="col" class="text-center colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.Email</th>
                    <th scope="col" class="text-center">@string.Format(Resources.Resource.PendingFormat, Resources.Resource.Upload)</th>
                    <th scope="col"></th>
                }
                else
                {
                    <th scope="col" class="text-center colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Name</th>
                    <th scope="col" class="text-center colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.Contact</th>
                    <th scope="col" class="text-center colheader" data-col="2" data-keyword="@Model.Keyword">@Resources.Resource.Email</th>
                    <th scope="col" class="text-center colheader" data-col="3" data-keyword="@Model.Keyword">@Resources.Resource.CreateTime</th>

                    <th scope="col"></th>


                }
            </tr>
        </thead>

        @if (Model.CheckoutPortal.ToLower() == "kingdee")
        {
            foreach (var customer in Model.KCustomerList)
            {
                var email = string.IsNullOrEmpty(customer.CustEmail) ? "N/A" : customer.CustEmail;
                var checkouttxt = customer.IsCheckout ? Resources.Resource.No : Resources.Resource.Yes;
                var blinkcls = customer.IsCheckout ? "" : "blinking";
                <tr data-ischeckout="@customer.IsCheckout">
                    <td style="width:110px;max-width:110px;" class="text-center @blinkcls">@customer.CustName</td>
                    <td style="width:110px;max-width:110px;" class="text-center @blinkcls">@email</td>
                    <td style="width:110px;max-width:110px;" class="text-center @blinkcls">@checkouttxt</td>
                    <td style="width:125px;max-width:125px;">
                        <a class="btn btn-info" role="button" href="/Customer/Edit?customerId=@customer.Id"><span class="">@Resources.Resource.Edit</span></a>

                        <a class="btn btn-danger kremove" role="button" href="#" data-id="@customer.Id"><span class="">@Resources.Resource.Remove</span></a>
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (var customer in Model.PGCustomerList)
            {
                var email = string.IsNullOrEmpty(customer.cusEmail) ? "N/A" : customer.cusEmail;
                string cname = customer.cusName;

                <tr>

                    <td style="width:110px;max-width:110px;" class="text-center">@cname</td>
                    <td style="width:100px;max-width:100px;" class="text-center">@customer.cusContact</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@email</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@customer.CreateTimeDisplay</td>

                    <td style="width:125px;max-width:125px;">
                        <a class="btn btn-info" role="button" href="/PGCustomer/Edit?customerId=@customer.cusCustomerID&accountProfileId=@customer.AccountProfileId"><span class="">@Resources.Resource.Edit</span></a>
                        <a class="btn btn-danger remove" role="button" href="#" data-id="@customer.cusCustomerID" data-apid="@customer.AccountProfileId"><span class="">@Resources.Resource.Remove</span></a>
                    </td>
                </tr>
            }
        }
    </table>

    <div id="pagingblk" class="my-3">
       
            @if (Model.CheckoutPortal == "abss" || Model.CheckoutPortal.ToLower() == "nonabss")
            {
                @Html.PagedListPager(Model.PGCustomerList, PageNo => Url.Action("Index",
new { PageNo, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
            }
            else
            {
                @Html.PagedListPager(Model.KCustomerList, PageNo => Url.Action("Index",
new { PageNo, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
            }

       
    </div>


    <input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
    <input type="hidden" id="sortcol" value="@Model.SortCol" />
}

@Html.Partial("_WaitingModal")
<div id="infoblk" data-selectatleastonecustomertxt="@selectatleastonecustomertxt" data-idlist="@idlist"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/customer/pgcustomer.js?v=@rand"></script>