@model SBLib.Models.Item.ReserveEditModel

@{
	ViewBag.Title = string.Format(Resources.Resource.EditFormat, string.Format(Resources.Resource.OrderFormat, Resources.Resource.Reserve));
	int rand = CommonHelper.GetVersionRandomNo();
	var Reserve = Model.ReserveLnList.FirstOrDefault();
}
<link href="~/Content/item/reserve/edit.css?v=@rand" rel="stylesheet" type="text/css" />

<h2 class="mb-4">@ViewBag.Title</h2>


@Html.AntiForgeryToken()

<div class="clearfix">
	<div class="float-right">
		<span>@Resources.Resource.OrderNo <span class="badge badge-dark">@Reserve.riCode</span></span>
		<span>@Resources.Resource.Date <span class="badge badge-dark">@Reserve.ReserveDateDisplay</span></span>
	</div>
</div>

<form class="form-inline">
	<div class="form-group">
		<label class="mx-2">@Resources.Resource.Customer</label>
		<input id="txtCustomerName" class="form-control" readonly value="@Reserve.CustomerName" title="@Reserve.CustomerName">
	</div>
	<div class="form-group mx-2">
		<label class="mx-2">@Resources.Resource.Remark</label>
		<input id="txtRemark" class="form-control" readonly value="@Reserve.RemarkDisplay" data-remark="@Reserve.riRemark" title="@Reserve.riRemark">
	</div>
	<a id="btnEdit" href="#" role="button" class="btn btn-warning mx-1" data-orderid="@Reserve.OrderId">@Resources.Resource.Edit</a>
</form>
<span id="saveMsg" class=""></span>

@Html.Partial("_ReserveModal", null, new ViewDataDictionary { { "CustomerList", Model.CustomerList }, { "Reserve", Reserve } })


<div class="clearfix">
	<div class="float-right">
		<button id="btnAdd" type="button" class="btn btn-info mx-1 btnsmall60" title="@string.Format(Resources.Resource.AddFormat, Resources.Resource.Row)"><i class="fa fa-plus"></i></button>
		<a role="button" href="/Reserve/Index" class="btn btn-secondary mx-1 btnsmall60" title="@Resources.Resource.ReserveItems"><i class="fa fa-cube"></i></a>
	</div>
</div>
<div class="d-flex justify-content-center my-2">
	<table id="tblEdit" class="table table-bordered table-hover overflow-auto">
		<thead class="gray-header">
			<tr>
				@*	<th class="text-center sender">@Resources.Resource.Warehouse</th>*@
				<th class="text-center itemcode">@Resources.Resource.ItemCode</th>
				<th class="text-center itemdesc">@Resources.Resource.Name/@Resources.Resource.Description</th>
				<th class="text-right itemprice">@Resources.Resource.SellingPrice (@Model.Currency)</th>
				<th class="text-center itemoptions">@Resources.Resource.Batch|@Resources.Resource.SerialNo|@Resources.Resource.ExpiryDate</th>
				<th class="text-center itemvari">@Resources.Resource.ItemVariations</th>

				<th class="text-right"><span class="font-weight-bold onhandstock">@Resources.Resource.OnHandStock</span></th>
				@foreach (var _shop in Model.ShopNames)
				{
					<th class="text-right locqty">@_shop</th>
				}
				<th class="text-right rqty"><span class="font-weight-bold">@Resources.Resource.ReservedQty</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var group in Model.GroupedReserveLnlist)
			{
				int totalReservedQty = Model.DicItemReservedQty[group.Key];
				var line = group.FirstOrDefault();

				string msgId = $"msg{line.Id}";
				var item = Model.ItemList.FirstOrDefault(x => x.itmCode == line.itmCode);
				string disabled = "";

				<tr>
					<td class="text-center itemcode resetable" title="@line.itmCode">
						@line.itmCode
					</td>
					<td class="text-center itemdesc resetable" title="@line.ItemNameDesc">
						@line.ItemNameDescDisplay
					</td>
					<td class="text-right itemprice">
						<input type="text" class="form-control number text-right itemprice" value="@line.SellingPriceDisplay" />
					</td>
					<td class="text-center itemoptions resetable">@Html.Raw(item.ItemOptionsDisplay)</td>
					<td class="text-center itemvari resetable">@Html.Raw(item.ItemVariDisplay)</td>


					<td class="text-right onhandstock resetable @item.OutOfStockCls" title="@item.lstQtyAvailable">@item.lstQtyAvailable</td>

					@foreach (var shop in Model.Shops)
					{
						int isprimary = Model.PrimaryLocation == shop ? 1 : 0;
						int qty = 0;
						string Id = "";
						if (Model.DicCodeLocQty.ContainsKey(item.itmCode) && Model.DicCodeLocQty[item.itmCode].ContainsKey(shop))
						{
							qty = Model.DicCodeLocQty[item.itmCode][shop];
						}
						if (Model.DicCodeLocId.ContainsKey(item.itmCode) && Model.DicCodeLocId[item.itmCode].ContainsKey(shop))
						{
							Id = Model.DicCodeLocId[item.itmCode][shop];
						}
						if (qty <= 0) { disabled = "disabled"; }

						var _line = Model.ReserveLnList.FirstOrDefault(x => x.itmCode == line.itmCode && x.rilSender == shop);
						if (_line != null)
						{
							<td class="text-right locqty selectedshop pointer" title="@Resources.Resource.SenderWarehouse">
								<input type="text" class="form-control text-right btnsmall locqty number reserve" data-id="@Id" data-isprimary="@isprimary" data-code="@item.itmCode" data-shop="@shop" data-onhandstock="@qty" data-oldstockqty="@qty" data-itemid="@item.itmItemID" @disabled data-totalreservedqty="@totalReservedQty" data-currentreservedqty="@(Model.DicLocCodeReservedQty[shop][_line.itmCode])" value="@qty" title="@qty">
							</td>
						}
						else
						{
							<td class="text-right locqty">
								<input type="text" class="form-control text-right btnsmall locqty number reserve" data-id="@Id" data-isprimary="@isprimary" data-code="@item.itmCode" data-shop="@shop" data-onhandstock="@qty" data-oldstockqty="@qty" data-itemid="@item.itmItemID" data-currentreservedqty="0" @disabled value="@qty" title="@qty">
							</td>
						}

					}

					<td class="text-right locqty">
						<input type="number" class="form-control btnsmall text-right reservedQty" data-totalreservedqty="@totalReservedQty" readonly value="@totalReservedQty" />
					</td>
					<td class="text-center">
						<button type="button" class="btn btn-success save" data-msgid="@msgId">@Resources.Resource.Save</button>
						<span id="@msgId"></span>
					</td>
				</tr>


			}
		</tbody>
	</table>
</div>

<div class="clearfix">
	<button id="btnPaidOut" class="btn btn-primary float-right" data-id="@Reserve.OrderId">@Resources.Resource.PayNow</button>
</div>

@Html.Partial("_WaitingModal")
@Html.Partial("_ItemModal", null, new ViewDataDictionary { { "currency", Model.Currency }, { "priceheader", Resources.Resource.SellingPrice }, { "forreserve", true } })

<div id="infoblk" data-code="@Reserve.riCode" data-shops="@JsonSerializer.Serialize(Model.Shops)" data-dicitemreservedqty="@JsonSerializer.Serialize(Model.DicItemReservedQty)"></div>

<script src="~/Scripts/ts/js/item/reserve/edit.js?v=@rand"></script>


