@model PPWLib.Models.Item.ReserveEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.ReserveItems;
	int rand = CommonHelper.GetVersionRandomNo();
}
<link href="~/Content/item/index.css?v=@rand" rel="stylesheet" type="text/css" />
<link href="~/Content/item/reserve/index.css?v=@rand" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Reserve", FormMethod.Get, new { @Id = "frmReserve" }))
{
	@Html.Partial("_ItemPagesCheckBox", null, new ViewDataDictionary { { "reserve", true } })

	<div class="form-inline my-4 clearfix">
		<div class="form-group">
			<input type="text" class="form-control" id="txtKeyword" name="Keyword" placeholder="@Resources.Resource.KeywordRequired" />
			<button id="btnSearch" type="button" class="btn btn-primary mx-1">@Resources.Resource.Search</button>
			<button id="btnReload" type="button" class="btn btn-warning mx-1">@Resources.Resource.Reload</button>
			<button id="btnList" type="button" class="btn btn-info mx-1" onclick="window.location.href = '/Reserve/List';">@Resources.Resource.List</button>
		</div>
	</div>

	<span class="small font-weight-bold"><span class="text-primary">@Resources.Resource.ReserveNumber:</span> <span id="riCode">@Model.ReserveNumber</span></span>

	<table id="tblReserve" class="tblList table table-bordered table-hover table-condensed overflow-auto">
		<thead class="gray-header">
			<tr class="">
				<th class="text-left colheader itemcode" data-col="code">@Resources.Resource.ItemCode</th>
				<th class="text-left colheader itemdesc" data-col="namedesc">@Resources.Resource.Name/@Resources.Resource.Description</th>
				<th class="text-right colheader itemprice" data-col="price">@Resources.Resource.SellingPrice (@Model.Currency)</th>
				<th class="text-center itemoptions">@Resources.Resource.Batch|@Resources.Resource.SerialNo|@Resources.Resource.ExpiryDate</th>
				<th class="text-center itemvari">@Resources.Resource.ItemVariations</th>
				<th class="text-right" data-col="onhandstock"><span class="font-weight-bold onhandstock">@Resources.Resource.OnHandStock</span></th>

				@foreach (var _shop in Model.ShopNames)
				{
					<th class="text-right locqty">@_shop</th>
				}
				<th class="text-right rqty"><span class="font-weight-bold">@Resources.Resource.ReservedQty</span></th>
				<th class="text-right rqty"><span class="font-weight-bold">@Resources.Resource.NewReserveQty</span></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.PagingItemList)
			{
				int totalReservedQty = 0; if (Model.DicItemReservedQty.ContainsKey(item.itmCode))
				{
					totalReservedQty = Model.DicItemReservedQty[item.itmCode];
				}
				string disabled = "";
				<tr>
					<td class="text-left itemcode" title="@item.itmCode">@item.itmCode</td>
					<td class="text-left itemdesc" data-desc="@item.NameDesc" title="@item.NameDesc">@item.NameDescDisplay</td>
					<td class="text-right itemprice">
						<input type="text" class="itemprice form-control btnsmall number" value="@item.itmBaseSellingPrice" />
					</td>
					<td class="text-center itemoptions">@Html.Raw(item.ItemOptionsDisplay)</td>
					<td class="text-center itemvari">@Html.Raw(item.ItemVariDisplay)</td>


					<td class="text-right onhandstock @item.OutOfStockCls">@item.lstQtyAvailable</td>

					@foreach (var shop in Model.Shops)
					{
						int isprimary = Model.PrimaryLocation == shop ? 1 : 0;
						int qty = 0;
						string Id = "";
						if (Model.DicCodeLocQty.ContainsKey(item.itmCode) && Model.DicCodeLocQty[item.itmCode].ContainsKey(shop))
						{
							qty = Model.DicCodeLocQty[item.itmCode][shop];
						}
						if (Model.DicCodeLocId.ContainsKey(item.itmCode) && Model.DicCodeLocId[item.itmCode].ContainsKey(shop))
						{
							Id = Model.DicCodeLocId[item.itmCode][shop];
						}
						if (qty <= 0) { disabled = "disabled"; }
						<td class="text-right locqty">
							<input type="text" class="form-control text-right btnsmall locqty number reserve" data-id="@Id" data-isprimary="@isprimary" data-code="@item.itmCode" data-shop="@shop" data-onhandstock="@qty" data-oldstockqty="@qty" data-itemid="@item.itmItemID" @disabled data-currentreservedqty="0" value="@qty" title="@qty">
						</td>
					}

					<td class="text-right locqty">
						@totalReservedQty
					</td>
					<td class="text-right rqty">
						<input type="text" class="reservedQty text-right btnsmall form-control" data-totalreservedqty="@totalReservedQty" readonly value="0">
					</td>
				</tr>
			}
		</tbody>

	</table>

	<div id="pagingblk" class="my-3">
		@Html.PagedListPager(Model.PagingItemList, PageNo => Url.Action("Index",
new { PageNo, SortName = Model.SortName, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
	</div>

	<input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
	<input type="hidden" id="sortname" value="@Model.SortName" />
	<!--no "name" attr on purpose!-->
}

@Html.Partial("_WaitingModal")

@Html.Partial("_DescModal")

@Html.Partial("_ReserveModal", null, new ViewDataDictionary { { "CustomerList", Model.CustomerList } })

@Html.AntiForgeryToken()

<div class="row justify-content-end mx-2">
	<button type="button" class="btn btn-success" id="btnReserve">@Resources.Resource.ReserveItems</button>
</div>

<div id="infoblk" data-shop="@Model.User.shopCode" data-shops="@string.Join(",",Model.Shops)" data-enablebuysellunits="@Model.EnableBuySellUnits" data-jsondiciditemoptions="@Model.JsonDicIDItemOptions" data-reserveitemqtyrequired="@Resources.Resource.ReserveItemQtyRequired"></div>


<script src="~/Scripts/ts/js/item/reserve/index.js?v=@rand"></script>


