@model PPWLib.Models.Journal.JournalEditModel

@using PagedList.Mvc;
@{
	int rand = CommonHelper.GetVersionRandomNo();
}

<h2>@ViewBag.Title</h2>

<p class="my-3">
	@Html.ActionLink(Resources.Resource.Add, "Edit", null, new { @class = "btn btn-info" })
</p>

@if (Model.PagingJournalList == null)
{
	@Html.Partial("_NoRecordFound");
	return;
}

@using (Html.BeginForm("Index", "Journal", FormMethod.Get, new { @Id = "frmJournal" }))
{
	<div class="form-inline my-4">
		<div class="form-group">
			<input type="text" class="form-control" id="txtKeyword" name="Keyword" value="@Model.Keyword" placeholder="@Resources.Resource.KeywordRequired" />
			<button id="btnSearch" type="submit" class="btn btn-success ml-4">@Resources.Resource.Search</button>

			<button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
		</div>
	</div>

	int idx = 0;

	<div id="norecord" class="alert alert-warning hide">@Resources.Resource.NoDataFound</div>
	<table id="tblJournal" class="table table-bordered  table-hover table-condensed">
		<thead class="gray-header">
			<tr>
				<th scope="col" class="text-center colheader" data-col="@idx">
					@Resources.Resource.ID
				</th>
				@{idx++;}
				<th scope="col" class="text-center colheader" data-col="@idx">
					@Resources.Resource.AccountNo
				</th>
				@{idx++;}
				<th scope="col" class="text-center colheader" data-col="@idx">
					@Resources.Resource.AccountName
				</th>
				@{idx++;}
			<th scope="col" class="text-center colheader" data-col="@idx">
				@Resources.Resource.Debit (@Model.Currency)
			</th>
				@{idx++;}
			<th scope="col" class="text-center colheader" data-col="@idx">
				@Resources.Resource.Credit (@Model.Currency)
			</th>				
				<th scope="col" class="text-center">
					@Resources.Resource.Job4Myob
				</th>
				@{idx++;}
				<th scope="col" class="text-center colheader" data-col="@idx">
					@Resources.Resource.Date
				</th>
				<th></th>
			</tr>
		</thead>
		@foreach (var item in Model.PagingJournalList)
		{
			<tr>
				<td class="text-center">
					@Html.DisplayFor(model => item.JournalNumber)
				</td>
				<td class="text-center">
					@item.AccountNumber
				</td>
				<td class="text-center">
					@item.AccountName
				</td>
				<td class="text-center">
					@CommonHelper.FormatNumber(item.DebitExTaxAmount ?? 0)
				</td>
				<td class="text-center">
					@CommonHelper.FormatNumber(item.CreditExTaxAmount ?? 0)
				</td>
				<td class="text-center">
					@Html.DisplayFor(model => item.JobName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(model => item.DateDisplay)
				</td>
				<td>
					@Html.ActionLink(Resources.Resource.Edit, "Edit", new { Id = item.mainId }, new { @class = "btn btn-info", @role = "button" })

					<button type="button" class="btn btn-danger remove" data-id="@item.mainId">@Resources.Resource.Remove</button>
				</td>
			</tr>
		}

	</table>

	<div id="pagingblk" class="my-3">
		
			@Html.PagedListPager(Model.PagingJournalList, PageNo => Url.Action("Index",
new { PageNo, SortOrder = Model.CurrentSortOrder, SortCol = Model.SortCol, Keyword = Model.Keyword }))
		
	</div>
	<input type="hidden" name="CurrentSortOrder" id="currentsortorder" value="@Model.CurrentSortOrder" />
	<input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
	<input type="hidden" id="sortcol" name="sortCol" value="@Model.SortCol" />

}

@Html.Partial("_WaitingModal")
<div id="infoblk"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/records/journallist.js?v=@rand"></script>

