@model SBLib.Models.Item.ItemEditModel

@{
    bool editmode = Model.Item.itmItemID > 0;
    string edittxt = editmode ? Resources.Resource.Edit : Resources.Resource.Add;
    ViewBag.Title = edittxt + " " + Resources.Resource.Item;
    string codelist = string.Join(",", Model.ItemCodeList);
    string supcodelist = string.Join(",", Model.ItemSupCodeList);
    int rand = CommonHelper.GetVersionRandomNo();
    int lang = CultureHelper.CurrentCulture;
    SBLib.Models.Item.ItemModel Item = Model.Item;
    bool nonabss = Model.NonABSS;

}
<link href="~/Content/item/edit.css?v=@rand" type="text/css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>



@if (Model.ItemAttrList != null && Model.ItemAttrList.Count > 0)
{
    @Html.Partial("_ItemEditForm", null, new ViewDataDictionary { { "ItemAttrList", Model.ItemAttrList }, { "ItemVariations", Model.ItemVariations }, { "Item", Model.Item }, { "Currency", Model.Currency }, { "EnableBuySellUnits", Model.EnableBuySellUnits }, { "lang", lang }, { "ACList", Model.ACList }, { "nonabss", nonabss }, { "AccountProfileId", Model.AccountProfileId }, { "MaxCodeLength", Model.MaxCodeLength }, { "MaxNameLength", Model.MaxNameLength }, { "editmode", editmode }, { "CategoryList", Model.CategoryList }, { "EditItem", Model.EditItem } })

    @Html.Partial("_ItemBuySellUnitsModal", null, new ViewDataDictionary { { "Item", Model.Item } })

}
else
{
    @Html.Partial("_ItemEditForm", null, new ViewDataDictionary { { "Item", Model.Item }, { "Currency", Model.Currency }, { "EnableBuySellUnits", Model.EnableBuySellUnits }, { "lang", lang }, { "ACList", Model.ACList }, { "nonabss", nonabss }, { "AccountProfileId", Model.AccountProfileId }, { "MaxCodeLength", Model.MaxCodeLength }, { "MaxNameLength", Model.MaxNameLength }, { "editmode", editmode }, { "CategoryList", Model.CategoryList }, { "EditItem", Model.EditItem } })

    @Html.Partial("_ItemBuySellUnitsModal", null, new ViewDataDictionary { { "Item", Model.Item } })
}

<div>
	@Html.ActionLink(Resources.Resource.BackToList, Model.Referrer)
</div>

@Html.Partial("_AccountModal")

@Html.Partial("_WaitingModal")

<div id="infoblk" data-shop="@Model.ComInfo.Shop" data-namelist="@(string.Join(",",Model.ItemNameList))" data-codelist="@codelist" data-supcodelist="@supcodelist" data-jsondicacaccounts="@Model.JsonDicAcAccounts" data-accountprofileid="@Model.AccountProfileId" data-jsonitem="@Model.JsonItem" data-stockqtyerr="@Resources.Resource.StockQtyLTZeroErr" data-jsonattrlist="@Model.JsonItemAttrList" data-jsondiclocqty="@Model.Item.JsonDicLocQty" data-jsonitemvariations="@Model.JsonItemVariations" data-jsonselectedivlist="@Model.JsonSelectedIVList" data-jsonitemvari="@Model.JsonItemVari" data-edititem="@Model.EditItem" data-referrer="@Model.Referrer" data-codenamelist="@JsonSerializer.Serialize(Model.CodeNameList)"></div>


<script src="~/Scripts/ts/js/item/itemedit.js?v=@rand"></script>