@model PPWLib.Models.Item.ItemEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = string.Format(Resources.Resource.ListFormat, Resources.Resource.Item);
	int rand = CommonHelper.GetVersionRandomNo();
}
<link href="~/Content/item/index.css?v=@rand" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title</h2>
<p class="my-3">
	@Html.ActionLink(Resources.Resource.Add, "Edit", new { itemId = 0, referrer = "Index" }, new { @class = "btn btn-info" })
</p>

@using (Html.BeginForm("Index", "Item", FormMethod.Get, new { @Id = "frmItem" }))
{
	<div class="form-inline my-4">
		<div class="form-group">
			<input type="text" class="form-control" id="txtKeyword" name="Keyword" placeholder="@Resources.Resource.KeywordRequired" />
			<button id="btnSearch" type="submit" class="btn btn-success ml-4">@Resources.Resource.Search</button>
			<button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
		</div>
	</div>


	<table id="tblItems" class="tblList table table-bordered table-hover table-condensed overflow-auto">
		<thead class="gray-header">
			<tr>
				<th class="text-left colheader itemcode" data-col="code">@Resources.Resource.ItemCode</th>
				<th class="text-left colheader itemdesc" data-col="namedesc">@Resources.Resource.Name/@Resources.Resource.Description</th>
				<th class="text-right colheader itemprice" data-col="price">@Resources.Resource.SellingPrice (@Model.Currency)</th>
				<th class="text-center itemoptions">@Resources.Resource.Batch|@Resources.Resource.SerialNo|@Resources.Resource.ExpiryDate</th>
				<th class="text-center itemvari">@Resources.Resource.ItemVariations</th>
				<th class="text-center abss colheader" data-col="abss">ABSS</th>
				<th class="action"></th>
			</tr>
		</thead>

		@foreach (var item in Model.ItemPagingList)
		{			
			var abssdisplay = (bool)item.itmCheckout ? Resources.Resource.Yes : Resources.Resource.No;
			var disabled = (bool)item.itmCheckout ? "disabled" : "";
			var trcls = (bool)item.itmCheckout ? "" : "nonabss";
			<tr class="@trcls">

				<td class="text-left itemcode" title="@item.itmCode">@item.itmCode</td>
				<td class="text-left itemdesc" data-desc="@item.NameDesc" title="@item.NameDesc">@item.NameDescDisplay</td>
				<td class="text-right itemprice">
					<input type="text" class="itemprice form-control btnsmall number" readonly value="@item.itmBaseSellingPrice" />
				</td>
				<td class="text-center itemoptions">@Html.Raw(item.ItemOptionsDisplay)</td>
				<td class="text-center itemvari">@Html.Raw(item.ItemVariDisplay)</td>

				<td class="text-center abss">@abssdisplay</td>

				<td class="action">
					<a class="btn btn-info mx-1" role="button" href="/Item/Edit?itemId=@item.itmItemID&referrer=Index">@Resources.Resource.Edit</a>
					<a class="btn btn-outline-danger itemremove mx-1 @disabled" role="button" href="#" data-id="@item.itmItemID">@Resources.Resource.Remove</a>
				</td>
			</tr>
		}

	</table>
	<div id="pagingblk" class="my-3">
		@Html.PagedListPager(Model.ItemPagingList, PageNo => Url.Action("Index",
new { PageNo, SortName = Model.SortName, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
	</div>

	<input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
	<input type="hidden" id="sortname" value="@Model.SortName" />
 <!--no "name" attr in propose!-->
}
@Html.AntiForgeryToken()

@Html.Partial("_WaitingModal")

@Html.Partial("_DescModal")

<div id="infoblk" data-referrer="index"></div>

<script src="~/Scripts/ts/js/item/index.js?v=@rand"></script>
