@model ItemStockEditModel
@{
    ViewBag.Title = Resources.Resource.Stock;
    int rand = CommonHelper.GetVersionRandomNo();
}
<h2>@ViewBag.Title</h2>


<div class="form-inline mb-2 my-4 clearfix">
    <div class="form-group">
        <input type="text" class="form-control" id="txtKeyword" placeholder="@Resources.Resource.KeywordRequired" />
        <button id="btnSearch" type="button" class="btn btn-primary ml-4">@Resources.Resource.Search</button>
        <button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
    </div>
    <div class="form-group ml-4">
        @*<label class="mx-2" for="drpLocation">@Resources.Resource.Location</label>*@
        <select class="custom-select" id="drpWarehouse" style="max-width:200px;">
            @foreach (var shop in Model.WarehouseList)
            {
                <option value="@shop.Value">@shop.Text</option>
            }
        </select>
    </div>
</div>

<div class="float-right">
    <span class="d-inline-block mr-2">@Resources.Resource.LastUpdateTime:</span> <span id="lastupdatetime" class="font-weight-bold"></span>
</div>

<div id="norecord" class="alert alert-warning">@Resources.Resource.NoDataFound</div>
<table id="tblStock" class="table table-bordered  table-hover table-condensed">

    <tr class="gray-header">        
        <th class="text-left colheader" data-col="1">@Resources.Resource.ItemName</th>
        <th class="text-left colheader" data-col="2">@Resources.Resource.Qty</th>
    </tr>

    <tr style="display:none">
      
        <td></td>
        <td></td>
    </tr>
</table>
<br />
<div class="StockPager"></div>

@Html.Partial("_WaitingModal")
@{ 
    int pagelength = (int)(HttpContext.Current.Session["ComInfo"] as ComInfo).PageLength;
}
<div id="infoblk" data-pagesize="@pagelength" data-defaultwarehouseid="@ConfigurationManager.AppSettings["DefaultWarehouseId"]"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="~/Scripts/ts/js/pos/kstock.js?v=@rand"></script>
