@model PPWLib.Models.Sales.PendingInvoice
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.PendingInvoices;
	int rand = CommonHelper.GetVersionRandomNo();
}
<link rel="stylesheet" href="~/Content/pos/Sales.css?v=@rand" />
<link rel="stylesheet" href="~/Content/item/stock.css?v=@rand" />

<h2>@ViewBag.Title</h2>

<div class="alert alert-info my-3 col-12 col-md-4 font-weight-bold">@Resources.Resource.Note4PendingInvoices</div>

@if (Model.PendingInvoiceList != null && Model.PendingInvoiceList.Count > 0)
{
	<table id="tblInvoices" class="table table-bordered  table-hover table-condensed">
		<thead class="gray-header">
			<tr>
				<th class="text-left colheader" data-col="0" data-keyword="">@Resources.Resource.InvoiceNo</th>
				<th class="text-left colheader" data-col="1" data-keyword="">@Resources.Resource.ItemDetail (@Resources.Resource.ItemCode | @Resources.Resource.Description | @Resources.Resource.DateTime)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var group in Model.PagingList)
			{
				<tr>
					<td>
						@group.Key
					</td>
					<td>
						<table class="table table-borderless" style="font-size:.9rem;">
							@foreach (var item in group)
							{
								string itemdesc = item.rtlDesc == null ? item.Item.itmDesc : item.rtlDesc;
								<tr>
									<td class="">
										<span class="text-danger mx-1">@item.Item.itmCode</span>
										<span class="text-danger mx-1">@itemdesc</span>
										<span class="text-danger mx-1">@item.SalesTimeDisplay</span>
									</td>
								</tr>
							}
						</table>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div id="pagingblk" class="my-3">
		@Html.PagedListPager(Model.PagingList, PageNo => Url.Action("PendingInvoices",
			new { PageNo }))
	</div>
}
else
{
	<div id="norecord" class="alert alert-warning">@Resources.Resource.NoDataFound</div>
}

@Html.Partial("_WaitingModal")

<div id="infoblk"></div>

<script src="~/Scripts/ts/js/pos/pendinginvoices.js?v=@rand"></script>