@model PPWLib.Models.POS.Sales.SalesEditModel
@{
	ViewBag.Title = Resources.Resource.Sales;
	int rand = new Random().Next(10000, 100000);
	var defaultCat = Model.CategoryList.FirstOrDefault();
	var Sales = Model.Sales;
	List<SimpleItem> FilteredItemList = Model.SimpleItemList.Where(x=>x.catId==defaultCat.Id).ToList();
	//Response.Write("defaultCat id:" + defaultCat.Id);
	//return;
}
<link rel="stylesheet" href="~/Content/pos/pos.css?v=@rand">
<link rel="stylesheet" href="~/Content/pos/Sales.css?v=@rand">

<div class="page-wrapper ms-0" data-defaultcatid="@defaultCat.Id">
	<div class="content">
		<div id="salesBlk" class="row">
			<div class="col-lg-8 col-sm-12 tabs_wrapper">

				<!-- Tab links -->
				<div class="tab small">
					@foreach (var category in Model.CategoryList)
					{
						<button class="tablinks" data-id="@category.Id"  onclick="openTapContent(this, '@category.NameDisplay', @category.Id)">@category.NameDisplay</button>
					}
				</div>

				@foreach (var category in Model.CategoryList)
				{
					<div id="@category.NameDisplay" class="tab_content" data-id="@category.Id" data-tab="@category.NameDisplay">

						<div class="page-header ">
							<div class="page-title">
								<h4>@category.NameDisplay</h4>
								<span class="small">@Resources.Resource.ManageYourPurchases</span>
							</div>
							<div class="clearfix">
								<input type="text" class="form-control float-right" id="searchItem" placeholder="@Resources.Resource.Search" />
							</div>
						</div>

						<div class="row productblk">
							@if (FilteredItemList != null && FilteredItemList.Count > 0)
							{
								foreach (var item in FilteredItemList)
								{
									<div class="col-lg-3 col-sm-6 d-flex ">
										<div class="productset flex-fill pointer" id="@item.itmCode" data-id="@item.itmItemID" data-namedesc="@item.NameDesc" data-code="@item.itmCode" data-price="@item.itmBaseSellingPrice" data-file="@item.itmPicFile">
											<div class="productsetimg">
												<img src="~/images/items/@item.itmPicFile" alt="@item.NameDesc">
												<h6>@Resources.Resource.Qty: @item.QtySellable</h6>

												<div class="check-product hide" data-id="@item.itmItemID" data-namedesc="@item.NameDesc" data-code="@item.itmCode" data-price="@item.itmBaseSellingPrice" data-file="@item.itmPicFile">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="productsetcontent">
												<h5>@item.CategoryName</h5>
												<h4><span class="itmnamedesc">@item.NameDesc</span></h4>
												<h6><span class="itmprice">@Model.Currency@CommonHelper.FormatNumber(item.itmBaseSellingPrice)</span></h6>
												<div class="discount-box">

													<label class="small" for="discount">@Resources.Resource.DiscPc:</label>

													<input type="number" class="sdiscpc small flex" name="discpc" min="0" data-id="@item.itmItemID" data-namedesc="@item.NameDesc" data-code="@item.itmCode" data-price="@item.itmBaseSellingPrice" data-file="@item.itmPicFile">

												</div>
											</div>
										</div>
									</div>
								}
							}
							else
							{
								@Html.Partial("_NoRecordFound")
							}
						</div>
					</div>
				}

			</div>

			<div class="col-lg-4 col-sm-12 " data-select2-id="10">
				<div class="order-list">
					<div class="orderid">
						<h4>@Resources.Resource.OrderList</h4>
						<h5>@Resources.Resource.TransactionId : <span id="salescode" class="font-weight-bold">@Model.NextSalesCode</span></h5>
					</div>
				</div>
				<div class="card card-order">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<a href="/Customer/Edit/0" class="pos btn btn-adds" target="_blank"><i class="fa fa-plus me-2"></i>@string.Format(Resources.Resource.AddFormat, Resources.Resource.Customer)</a>
							</div>
						</div>

						<div class="row justify-content-between mb-3">
							<div class="col-12 col-md-6 clearfix">
								<input type="text" class="pos form-control flex" id="txtCustomerName" placeholder="@string.Format(Resources.Resource.Required, Resources.Resource.Customer)" />
								
								<input type="hidden" id="rtsCusID" />
								<input type="hidden" id="rtsCusCode"/>
							</div>

							<div class="col-12 col-md-6">
								<input type="text" class="pos form-control flex" id="txtPhone" placeholder="@Resources.Resource.PhoneNo" />
							</div>
						</div>

						<div class="row justify-content-between">
							<div class="col-12 col-md-4">
								<input type="text" class="pos form-control flex" id="txtPriceLevel" placeholder="@Resources.Resource.PriceLevel" />
							</div>

							<div class="col-12 col-md-4">
								<input type="text" class="pos form-control flex" id="txtPoints" placeholder="@Resources.Resource.Points" />
							</div>

							<div class="col-12 col-md-4">
								<input type="text" class="form-control exrate" id="rtsCurrency" name="rtsCurrency" value="@Model.ComInfo.DefaultCurrencyCode" placeholder="@Resources.Resource.Currency" readonly />
							</div>
						</div>

						<div class="row mt-4 justify-content-end">
							<div class="col-12 col-md-6">
								<div class="text-end">
									<a class="pos btn btn-scanner-set"><img src="~/images/pos/icons/scanner1.svg" alt="img" class="me-2">@Resources.Resource.ScanBarcode</a>
								</div>
							</div>
						</div>
					</div>
					<div class="split-card">
					</div>
					<div class="card-body pt-0">
						<div class="totalitem">
							<h4>@Resources.Resource.TotalItems : <span id="totalItems">0</span></h4>
							<a role="button" id="btnClear" class="pos" href="javascript:void(0);">@Resources.Resource.ClearAll</a>
						</div>
						<div class="product-table">
							<div id="productcontent" class="productcontet">
								<!--populated by js-->
							</div>
						</div>
						<div class="split-card">
						</div>
						<div id="sumblk" class="card-body pt-0 pb-2">
							<div class="setvalue">
								<ul>
									<li>
										<h5>@Resources.Resource.SubTotal </h5>
										<h6>@Model.Currency <span id="subtotal" class="sum">0.00</span></h6>
									</li>
									<li>
										<h5>@Resources.Resource.Discount </h5>
										<h6>@Model.Currency <span id="discount" class="sum">0.00</span></h6>
									</li>
									<li>
										<h5>@Resources.Resource.Tax </h5>
										<h6>@Model.Currency <span id="tax" class="sum">0.00</span></h6>
									</li>
									<li class="total-value">
										<h5>@Resources.Resource.Total </h5>
										<h6>@Model.Currency <span id="totalamt" class="totalamt sum">0.00</span></h6>
									</li>
								</ul>
							</div>
							<div id="btnCheckout" class="btn-totallabel pointer">
								<h5>@Resources.Resource.Checkout</h5>
								<h6>@Model.Currency <span class="checkout totalamt sum">0.00</span></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@Html.Partial("_Payment", null, new ViewDataDictionary { { "forsales", true }, { "enableEpay", true }, { "PaymentTypes", Model.PaymentTypes }, { "DicPayTypes", Model.DicPayTypes },{"CurrencySym",Model.Currency } })
	</div>
</div>
<input type="hidden" id="lang" value="@CultureHelper.CurrentCulture" />
<input type="hidden" id="drpLocation" value="@Model.ComInfo.Shop"/>
<input type="hidden" id="drpDevice" value="@Model.ComInfo.Device"/>
<input type="hidden" id="rtsExRate" value="@Model.ComInfo.DefaultExchangeRate"/>


@Html.Partial("_CurrencyModal")

@Html.Partial("_DescModal")

@Html.Partial("_CusModal")

@Html.Partial("_WaitingModal")

@Html.Partial("_BarcodeModal")
@Html.Partial("_ChangeModal")

<div id="infoblk" data-defaultcatname="@Model.CategoryList.First().NameDisplay" data-currency="@Model.Currency" data-cominfo="@JsonSerializer.Serialize(Model.ComInfo)" data-dicpaytypes="@JsonSerializer.Serialize(Model.DicPayTypes)" data-diccurrencyexrate="@JsonSerializer.Serialize(Model.DicCurrencyExRate)" data-defaultcustomer="@JsonSerializer.Serialize(Model.DefaultCustomer)" data-itemlist="@JsonSerializer.Serialize(Model.SimpleItemList)" data-filteredlist="@JsonSerializer.Serialize(FilteredItemList)" data-paytypes="@JsonSerializer.Serialize(Model.PaymentTypes)"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="~/Scripts/ts/js/pos/sales.js?v=@rand"></script>
