@model PPWLib.Models.SearchModel
@{
    ViewBag.Title = Resources.Resource.SearchFunc;
    int rand = new Random().Next(10000, 100000);
    SessUser user = Session["User"] as SessUser;
    bool approvalmode = (bool)Model.ComInfo.ApprovalMode;
}
<link rel="stylesheet" href="~/Content/pos/Sales.css?v=@rand" />
<link rel="stylesheet" href="~/Content/search.css?v=@rand" />
<h2>@ViewBag.Title</h2>

<div class="form-inline my-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input searchmode" type="radio" name="searchOptions" id="radSalesNo" value="sales" checked>
        <label class="form-check-label" for="radSalesNo">@Resources.Resource.ReceiptNo</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input searchmode" type="radio" name="searchOptions" id="radSerialNo" value="serial">
        <label class="form-check-label" for="radSerialNo">@Resources.Resource.SerialNo</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input searchmode" type="radio" name="searchOptions" id="radBatch" value="batch">
        <label class="form-check-label" for="radBatch">@Resources.Resource.BatchNo</label>
    </div>
    @*<div class="form-check form-check-inline">
            <input class="form-check-input searchmode" type="radio" name="searchOptions" id="radPending" value="pending">
            <label class="form-check-label" for="radPending">@Resources.Resource.PendingInvoices</label>
        </div>*@

    <div class="form-inline">
        <input type="text" class="form-control" id="txtSearch" />
    </div>

    <div class="form-inline mx-3">
        <button type="button" id="btnSearch" class="btn btn-default">@Resources.Resource.Search</button>
    </div>
</div>

<div class="row justify-content-start searchresult">

    <h4 class="ml-3">@Resources.Resource.SearchResult</h4>

    @{
        int lang = (int)HttpContext.Current.Session["CurrentCulture"];
        string printtxt = lang == 2 ? Resources.Resource.Print + " " + Resources.Resource.Receipt : Resources.Resource.Print + Resources.Resource.Receipt;
    }


</div>

@Html.HiddenFor(model => model.IsSilent)
@Html.HiddenFor(model => model.salescode, new { @id = "salescode" })


@*</div>*@
<div class="jexcel_content">
    <table id="tblsearch" class="table table-bordered table-condensed table-hover ">
        <colgroup><col width="50"><col width="120"><col width="120"><col width="70"><col width="90"><col width="90"><col width="100"><col width="160"><col width="130"><col width="160"><col width="90" /></colgroup>
        <thead class="resizable black-header">
            <tr>
                <th class="jexcel_selectall"></th>
                <th class="text-center">@Resources.Resource.ReceiptNo</th>
                <th class="text-center">@Resources.Resource.ItemCode</th>
                <th class="text-right">@Resources.Resource.Qty</th>
                <th class="text-right">@Resources.Resource.Price</th>
                <th class="text-right">@Resources.Resource.DiscountItemHeader</th>
                <th class="text-right">@Resources.Resource.AmountItemHeader</th>
                <th class="text-center">@Resources.Resource.SalesDate</th>
                <th class="text-right">@Resources.Resource.RefundAmt</th>
                <th class="text-center">@Resources.Resource.RefundDate</th>
                <th class="text-center">@Resources.Resource.Detail</th> <!--11-->
            </tr>
        </thead>
        <tbody>
        </tbody>
        @{
            if (approvalmode)
            {
                <tfoot class="hide">
                    <tr>
                        @if (user.Roles.Any(x => x == RoleType.Admin || x == RoleType.SalesManager))
                        {
                            <td colspan="11" class="text-right">

                                <button type="button" id="btnApprove" class="btn btn-primary mx-2 respond" data-type="approve">@Resources.Resource.Approve</button>
                                <button type="button" id="btnReject" class="btn btn-danger mx-2 respond" data-type="reject">@Resources.Resource.Reject</button>
                                @{

                                    if (approvalmode && user.Roles.Any(x => x == RoleType.Admin))
                                    {
                                        <button type="button" id="btnPass" class="btn btn-warning mx-2 respond" data-type="pass">@Resources.Resource.PassToManager</button>
                                    }
                                }
                            </td>
                        }
                        @if (user.Roles.Any(x => x != RoleType.Admin && x != RoleType.SalesManager && x == RoleType.SalesPerson))
                        {
                            <td colspan="11" class="text-right">
                                <button type="button" id="btnEdit" class="btn btn-success" data-type="edit">@Resources.Resource.Edit</button>
                            </td>
                        }
                    </tr>
                </tfoot>
            }
        }

    </table>
</div>
@Html.AntiForgeryToken()

@Html.Partial("_TextAreaModal")
<div id="infoblk" class="hide" data-issilent="@Model.IsSilent" data-printurl="@Url.Action("Index","Print")" data-usercode="@user.UserCode" data-approvalmode="@approvalmode" data-approvalmode="@approvalmode" data-rejectreasontxt="@string.Format(Resources.Resource.ReasonForFormat,Resources.Resource.Reject)"></div>

<div id="waitingModal">
    <img src="~/Images/giphy.gif" alt="@Resources.Resource.PleaseWait" />
</div>
@*@Html.Partial("_PrintModal", null, new ViewDataDictionary { { "issales", true }, { "printfields", Model.strPrintFields } })*@

<input type="hidden" id="receiptnolist" value="@Model.ReceiptNoList" />
<input type="hidden" id="snnolist" value="@Model.SerialNoList" />
<input type="hidden" id="batchnolist" value="@Model.BatchNoList" />

<script src="~/Scripts/ts/js/pos/search.js?v=@rand"></script>

