@model PPWLib.Models.CustomerAttributeView

@{
    bool edit = !string.IsNullOrEmpty(Model.attrId);
    var mode = !edit ? Resources.Resource.Add : Resources.Resource.Edit;
    var action = !edit ? "Create" : "Edit";
    ViewBag.Title = mode + " " + Resources.Resource.CustomAttribute;
    int rand = CommonHelper.GetVersionRandomNo();

}
<link rel="stylesheet" type="text/css" href="~/Content/attributecommon.css?v=@rand" />

<h2>@ViewBag.Title</h2>

@Html.Partial("_CustomAttributeModal",Model,new ViewDataDictionary { { "action",action} })

<div>
    @Html.ActionLink(Resources.Resource.BackToList, "Index", "Contact")
</div>


@Html.Partial("_ComboModal")

<div id="infoblk" class="hide" data-customattributevalue="@Resources.Resource.CustomAttributeValue" data-contactid="@Model.contactId" data-apid="@Model.AccountProfileId" data-attrnamerequired="@Resources.Resource.AttributeNameRequired" data-attrvaluesrequired="@Resources.Resource.AttributeValuesRequired" data-attname="@Model.attrName" data-atttype="@Model.attrType" data-returnurl="Contact/Index" data-isdefault="@Model.iIsDefault"></div>

<div id="waitingModal">
    <img src="~/Images/giphy.gif" alt="@Resources.Resource.PleaseWait" />
</div>

<script src="~/Scripts/ts/js/crm/contact/attributes/attributecommon.js?v=@rand"></script>
<script src="~/Scripts/ts/js/crm/contact/attributes/attributeedit.js?v=@rand"></script>