@model PPWLib.Models.AttributeEditModel
@using PagedList.Mvc;
@{
    ViewBag.Title = Resources.Resource.CustomAttribute;
    int rand = CommonHelper.GetVersionRandomNo();
}

<link rel="stylesheet" href="~/Content/attributecommon.css?v=@rand" />
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row my-3 justify-content-between">
        <div>@Html.ActionLink(Resources.Resource.Add, "Create", new { customerId = Model.CustomerId, apId = Model.AccountProfileId }, new { @class = "btn btn-info" })</div>
    </div>
</div>


@using (Html.BeginForm("Index", "CustomAttribute", FormMethod.Get, new { @Id = "frmAttribute" }))
{
    <div class="container">
        <div class="row mb-2 my-4 justify-content-between">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtKeyword" placeholder="@Resources.Resource.KeywordRequired" />
                    <button id="btnSearch" type="button" class="btn btn-default ml-4">@Resources.Resource.Search</button>
                    <button id="btnReload" type="button" class="btn btn-default ml-4">@Resources.Resource.Reload</button>
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group float-right">
                    <select id="drpType" class="form-control">
                        <option value="">-- @Resources.Resource.AttributeType --</option>
                        <option value="text">@Resources.Resource.Text</option>
                        <option value="combo">@Resources.Resource.Combo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <table id="tblAttribute" class="table table-bordered  table-hover table-condensed">
        <colgroup>
            <col width="200" />
            <col width="80" />
            <col width="200" />
            <col width="100" />
        </colgroup>
        <thead class="gray-header">
            <tr>
                <th class="text-left colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Name</th>
                <th class="text-left colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.Type</th>
                <th class="text-left">@Resources.Resource.Value</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.AttributeList)
            {
                string txtselected = item.attrType == "text" ? "selected" : "";
                string comboselected = item.attrType == "combo" ? "selected" : "";
                string attval = Model.DicAttrVals[item.attrId].Length == 0 ? string.Empty : Model.DicAttrVals[item.attrId][0];

                <tr data-attid="@item.attrId" data-customerid="@item.contactId" data-attname="@item.attrName" data-atttype="@item.attrType" data-apid="@item.AccountProfileId">
                    <td>@item.attrName</td>
                    <td>
                        @item.attrType
                    </td>
                    <td>
                        @if (item.attrType == "combo")
                        {
                            <span class="@item.attrType attvalue">...</span>
                        }
                        else
                        {
                            <span class="@item.attrType attvalue" data-attval="@attval">@attval</span>
                        }

                    </td>
                    <td>
                        <a role="button" href="#" class="btn btn-info @item.attrType edit" data-attval="@attval">@Resources.Resource.Edit</a>
                        <a role="button" href="#" class="btn btn-danger remove">@Resources.Resource.Remove</a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
    <div id="pagingblk" class="my-3">
       
            @Html.PagedListPager(Model.AttributeList, PageNo => Url.Action("Index",new { PageNo, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
       
    </div>

    <hr />

    @Html.Partial("_DefaultAttributes", Model.DefaultAttributes, new ViewDataDictionary { { "edit", true } })

    <input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
    <input type="hidden" id="sortcol" value="@Model.SortCol" />
    <input type="hidden" id="customerId" name="customerId" value="@Model.CustomerId" />
    <input type="hidden" id="apId" name="accountProfileId" value="@Model.AccountProfileId" />
}
<div id="infoblk" class="hide" data-dicattrvals="@Model.JsonDicAttrVals" data-returnurl="CustomAttribute/Index"></div>

@Html.Partial("_ComboModal")

<div id="waitingModal">
    <img src="~/Images/giphy.gif" alt="@Resources.Resource.PleaseWait" />
</div>

<script src="~/Scripts/ts/js/crm/contact/attributes/attributecommon.js?v=@rand"></script>
<script src="~/Scripts/ts/js/crm/contact/attributes/attribute.js?v=@rand"></script>
<link href="~/Content/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>