@model PPWLib.Models.Item.PromotionEditModel
@using PagedList.Mvc;
@{
    int rand = CommonHelper.GetVersionRandomNo();
}

<h2>@ViewBag.Title</h2>
<p class="my-3">
    @Html.ActionLink(Resources.Resource.Add, "Edit", null, new { @class = "btn btn-info" })
</p>

@using (Html.BeginForm("Index", "Promotion", FormMethod.Get, new { @Id = "frmPromotion" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline my-4">
        <div class="form-group">
            <input type="text" class="form-control" id="txtKeyword" name="Keyword" placeholder="@Resources.Resource.KeywordRequired" />
            <button id="btnSearch" type="submit" class="btn btn-success ml-4">@Resources.Resource.Search</button>

            <button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
        </div>
    </div>

    if (Model.PagingPromotionList.Count == 0)
    {
        <div id="norecord" class="alert alert-warning">@Resources.Resource.NoDataFound</div>
    }
    else
    {
        <table id="tblPromotion" class="table table-bordered table-hover table-condensed">
            <thead class="gray-header">
                <tr>
                    <th scope="col" class="text-center colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Name</th>
                    <th scope="col" class="text-center colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.StartDate</th>
                    <th scope="col" class="text-center colheader" data-col="2" data-keyword="@Model.Keyword">@Resources.Resource.EndDate</th>
                    <th scope="col" class="text-center colheader" data-col="3" data-keyword="@Model.Keyword">@Resources.Resource.Price (@Model.ComInfo.Currency)</th>
                    <th scope="col" class="text-center colheader" data-col="4" data-keyword="@Model.Keyword">@Resources.Resource.Discount (%)</th>
                    <th scope="col" class="text-center colheader" data-col="5" data-keyword="@Model.Keyword">@Resources.Resource.Qty</th>
                    <th scope="col" class="text-center colheader" data-col="6" data-keyword="@Model.Keyword">@Resources.Resource.CreateTime</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var promotion in Model.PagingPromotionList)
            {
                var trcls = promotion.IsObsolete ? "obsolete" : "";
                var trtitle = promotion.IsObsolete ? Resources.Resource.Obsolete : Resources.Resource.Active;
                <tr class="@trcls pointer" title="@trtitle" data-id="@promotion.Id">
                    <td style="width:110px;max-width:110px;" class="text-center">@promotion.proName</td>
                    <td style="width:100px;max-width:100px;" class="text-center">@promotion.DateFrmDisplay</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@promotion.DateToDisplay</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@promotion.PriceDisplay</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@promotion.DiscountDisplay</td>
                    <td style="width:60px;max-width:60px;" class="text-center">@promotion.proQty</td>
                    <td style="width:110px;max-width:110px;" class="text-center">@promotion.CreateTimeDisplay</td>

                    <td style="width:125px;max-width:125px;">
                        <a class="btn btn-info btnsmall" role="button" href="/Promotion/Edit?Id=@promotion.Id">@Resources.Resource.Edit</a>
                        <a class="btn btn-danger remove btnsmall" role="button" href="#" data-id="@promotion.Id">@Resources.Resource.Remove</a>
                    </td>
                </tr>
            }

        </table>

        <div id="pagingblk" class="my-3">
          
                @Html.PagedListPager(Model.PagingPromotionList, PageNo => Url.Action("Index",
    new { PageNo, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
           
        </div>


        <input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
        <input type="hidden" id="sortcol" value="@Model.SortCol" />
    }


}

@Html.Partial("_WaitingModal")
<div id="infoblk"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/promotion/promotion.js?v=@rand"></script>