@model PPWLib.Models.CallHistoryModel
@{
    string action = Model.Id == 0 ? Resources.Resource.Add : Resources.Resource.Edit;
    ViewBag.Title = CultureHelper.CurrentCulture == 2 ? string.Concat(action, " ", Resources.Resource.CallHistory) : string.Concat(action, "", Resources.Resource.CallHistory);
    int rand = CommonHelper.GetVersionRandomNo();
}
@*<link rel="stylesheet" type="text/css" href="~/Content/datetimepicker/jquery.datetimepicker.min.css" />
<script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js"></script>*@
<link rel="stylesheet" type="text/css" href="~/Content/callhistoryedit.css?v=@rand" />

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.chContactId)

        <div class="form-group required">
            <label class="control-label col-md-2" for="strDateTime">@Resources.Resource.DateTime</label>
            <div class="col-md-10">
                <input type="datetime" class="form-control datetimepicker" id="strDateTime" />
                @Html.HiddenFor(model => model.chDateTimeDisplay)
            </div>
        </div>

        <div class="form-group required">
            <label class="control-label col-md-2" for="chStatus">@Resources.Resource.Status</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" cols="70" id="chStatus" name="chStatus">
@Model.chStatus
</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="chDocumentName">@string.Format(Resources.Resource.NameFormat, Resources.Resource.Document)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.chDocumentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="chDocumentLink">@string.Format(Resources.Resource.LinkFormat, Resources.Resource.Document)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.chDocumentLink, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnSave" type="button" role="button" class="btn btn-success">@Resources.Resource.Save</button>
            </div>
        </div>
    </div>
}

@*@Html.Partial("_OneDriveDoc")*@

<div>
    @Html.ActionLink(Resources.Resource.BackToList, "Index", new { contactId = Model.chContactId })
</div>

<div id="infoblk" class="hide"></div>

<link rel="stylesheet" type="text/css" href="~/Content/datetimepicker/jquery.datetimepicker.min.css" />
<script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/ts/js/crm/contact/callhistory/callhistory_edit.js?v=@rand"></script>
