@model IEnumerable<SBLib.Models.GlobalAttributeModel>

@{
    ViewBag.Title = Resources.Resource.AttributeList;
    int rand = CommonHelper.GetVersionRandomNo();
    var enteratleasttxt = string.Format(Resources.Resource.EnterAtLeastOneFormat, Resources.Resource.Item);    
    
}
<link rel="stylesheet" type="text/css" href="~/Content/gloalattribute.css?v=@rand" />

<h3>@ViewBag.Title</h3>

<div class="container">
    <div class="row justify-content-end">
        <button type="button" role="button" id="btnSave" class="btn btn-success">@Resources.Resource.Save</button>
    </div>

    @Html.Partial("_GlobalAttributes",Model, new ViewDataDictionary { { "mode", "globalattribute" } } )

 


</div>

@Html.Partial("_GComboModal")
@Html.AntiForgeryToken()
<div id="infoblk" class="hide" data-apid="@ConfigurationManager.AppSettings["AccountProfileId"]" data-enteratleasttxt="@enteratleasttxt" data-enterattribtefirsttxt="@string.Format(Resources.Resource.EnterFirstFormat, string.Format(Resources.Resource.NameFormat,Resources.Resource.CustomAttribute))" data-customfieldvaltxt="@string.Format(Resources.Resource.ValueFormat,Resources.Resource.CustomField)" data-entercustomnamefirsttxt="@string.Format(Resources.Resource.EnterFirstFormat, string.Format(Resources.Resource.NameFormat,Resources.Resource.CustomField))" data-savedtxt="@string.Format(Resources.Resource.SavedOkFormat,Resources.Resource.CustomAttribute)"></div>
<script src="~/Scripts/ts/js/customer/attributes/globalattribute.js?v=@rand"></script>
