@model QuotationEditModel
@{
	int idx = Model.IsAdmin ? 1 : 0;
}

<link href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.js"></script>

<div class="text-center">
	<h2 class="d-none d-sm-block">@Resources.Resource.Quotation</h2>
	<h3 class="d-block d-sm-none">@Resources.Resource.Quotation</h3>
</div>

<div class="d-none d-sm-block">
	<div class="table-responsive my-3">
		<table id="tblGrid" class="table table-striped table-bordered dt-responsive nowrap display" cellspacing="0">
			<thead>
				<tr>
					<th>@string.Format(Resources.Resource.NumberFormat, Resources.Resource.Order)</th>
					<th>@Resources.Resource.Date</th>
					<th>@Resources.Resource.Customer</th>
					<th>@Resources.Resource.ItemNumber</th>
					<th>@Resources.Resource.ItemName</th>
					<th>@Resources.Resource.SalesPerson</th>
					<th>@Resources.Resource.Qty</th>
					<th>@Resources.Resource.SellingPrice (@Model.Currency)</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="d-block d-sm-none">
	<div class="row">
		<div class="table-responsive">
			<table id="tblGridm" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
				<thead>
					<tr>
						<th>@Resources.Resource.Customer</th>
						<th>@Resources.Resource.ItemName</th>
						<th>@Resources.Resource.SellingPrice</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<div id="itemdetail" title="Detail">

	</div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
<script>
	var $window = $(window);
	var datatable;
	var datatableM;
	var webbind = false;
	var mobilebind = false;
	pagesize = @Model.PageSize;
	var minDateM, maxDateM;

	$(function () {
		setFullPage();
		triggerMenu(8, @idx);
		// Execute on load
		checkWidth();
		// Bind event listener
		$(window).resize(checkWidth);

		$("#itemdetail").dialog({
			show: { effect: "blind", duration: 800 },
			autoOpen: false,
		});
	});

	function bindtable() {
		datatable = $('#tblGrid').DataTable({
			'autoWidth': false,
			fixedHeader: {
				header: true,
			},
			"bLengthChange": false,
			'scrollY': '65vh',
			"pageLength": pagesize,
			"sAjaxSource": "/AbssReport/GetQuotations",
			"bServerSide": true,
			"bProcessing": true,
			"bSearchable": true,
			"order": [[1, 'desc']],
			"language": {
				"emptyTable": "@Resources.Resource.NoDataFound",
				"processing":
					"<i class=\"fa fa-spinner fa-spin fa-3x fa-fw\" style=\"color:#2a2b2b;\"></i><span class=\"sr-only\">@Resources.Resource.Loading...</span>"
			},
			//main.InvoiceNumber as 'Order No',main.InvoiceDate as Sales,c.Name as CustomerName,i.ItemNumber,i.ItemName,e.Name as 'SalesPersonName',l.Quantity as Qty,l.TaxInclusiveUnitPrice
			"columns": [
				{
					"data": "InvoiceNumber",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "InvoiceDateDisplay",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "CustomerName",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "ItemNumber",
					"searchable": true,
					"orderable": true
				}, {
					"data": "ItemName",
					"searchable": true,
					"orderable": true
				}, {
					"data": "SalesPersonName",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "Qty",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "SellingPrice",
					"searchable": true,
					"orderable": true
				},
				{
					"data": "InvoiceDateStart",
					"visible": false,
					"searchable": true,
				},
				{
					"data": "InvoiceDateEnd",
					"visible": false,
					"searchable": true
				}
			],

			"columnDefs": [
				{
					targets: [1,6,7],
					createdCell: function (td, cellData, rowData, row, col) {
						$(td).css({ 'text-align': 'right', "width": "236px" });
					},
				},
				{
					targets: [0,2,3,4,5],
					createdCell: function (td, cellData, rowData, row, col) {
						$(td).css('text-align', 'center');
					},
				},
			],
			drawCallback: function (settings) {
				//console.log("settings:", settings);
				webbind = true;
				let $header = $(".dataTables_scrollHeadInner table thead");
				$header.find("tr th").eq(0).addClass("text-center");
				$header.find("tr th").eq(1).addClass("text-right");
				$header.find("tr th").eq(2).addClass("text-center");
				$header.find("tr th").eq(3).addClass("text-center");
				$header.find("tr th").eq(4).addClass("text-center");
				$header.find("tr th").eq(5).addClass("text-center");
				$header.find("tr th").eq(6).addClass("text-right");
				$header.find("tr th").eq(7).addClass("text-right");

				setSearchBox4AbssReports()

				localizePagingInfo();
			},
		});
	}

	function bindtableM() {
		datatableM = $('#tblGridm').DataTable({
			"pageLength": pagesize,
			"bLengthChange": false,
			"sAjaxSource": "/AbssReport/GetQuotationsM",
			"bServerSide": true,
			"bProcessing": true,
			"bSearchable": true,
			"order": [[0, 'desc']],
			"language": {
				"emptyTable": "@Resources.Resource.NoDataFound",
				"processing":
					'<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">@Resources.Resource.Loading...</span> '
			},
			//main.InvoiceNumber as 'Order No',main.InvoiceDate as Sales,c.Name as CustomerName,i.ItemNumber,i.ItemName,e.Name as 'SalesPersonName',l.Quantity as Qty,l.TaxInclusiveUnitPrice
			"columns": [
				{
					"data": "CustomerName",
					"autoWidth": true,
					"searchable": true
				},
				{
					"data": "ItemName",
					"autoWidth": true,
					"searchable": true
				},
				{
					"data": "SellingPrice",
					"autoWidth": true,
					"searchable": true
				},
				{
					"data": "InvoiceDateStart",
					"visible": false,
					"searchable": true,
				},
				{
					"data": "InvoiceDateEnd",
					"visible": false,
					"searchable": true
				},
				{
					"data": "InvoiceNumber",
					"visible": false,
					"searchable": true
				},
				{
					"data": "InvoiceDateDisplay",
					"visible": false,
					"searchable": true
				},
				{
					"data": "ItemNumber",
					"visible": false,
					"searchable": true
				},
				{
					"data": "SalesPersonName",
					"visible": false,
					"searchable": true
				},
				{
					"data": "Qty",
					"visible": false,
					"searchable": true
				}
			],
			"drawCallback": function (settings) {
				mobilebind = true;
				let $tfilter = $('#tblGridm_wrapper');
				if ($tfilter.find('#btnReset').length === 0) {
					let ele = '<div class="row mb-3 small"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6 text-right"><button id="btnReset" type="button" class="btn btn-secondary" style="font-size:1.6em;">@Resources.Resource.Reset</button></div></div>';
					$(ele).insertBefore($tfilter.find('.row:eq(0)'));
				}
				$('#tblGridm tbody').on('click', 'tr', function () {
					let rdata = datatableM.row(this).data();
					@*console.log(rdata);*@
					let html = "";
					let $detail = $('#itemdetail');
					html += "<p><strong>@string.Format(Resources.Resource.NumberFormat, Resources.Resource.Order):</strong><br>" + rdata.InvoiceNumber + "</p>";
					html += "<p><strong>@Resources.Resource.Sales:</strong><br>" + rdata.InvoiceDateDisplay + "</p>";
					html += "<p><strong>@Resources.Resource.Customer:</strong><br>" + rdata.CustomerName + "</p>";
					html += "<p><strong>@Resources.Resource.ItemNumber:</strong><br>" + rdata.ItemNumber + "</p>";
					html += "<p><strong>@Resources.Resource.ItemName:</strong><br>" + rdata.ItemName + "</p>";
					html += "<p><strong>@Resources.Resource.SalesPerson:</strong><br>" + rdata.SalesPersonName + "</p>";
					html += "<p><strong>@Resources.Resource.Qty:</strong><br>" + rdata.Qty + "</p>";
					html += "<p><strong>@Resources.Resource.SellingPrice:</strong><br>" + rdata.SellingPrice + "</p>";
					$detail.empty().append(html).dialog("open");
				});
				$('input[type=search]').css({ 'height': '22px' });

			},
		});
	}

</script>

