@model  CustomerEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.Customer;
	int rand = CommonHelper.GetVersionRandomNo();	
	string selectatleastonecustomertxt = string.Format(Resources.Resource.SelectAtLeastOne, Resources.Resource.Customer);
	string checkall = Model.CheckAll == 1 ? "checked" : "";
	bool isassignor = UserHelper.CheckIfAssignor(Model.User);
}
<link href="~/Content/customer/index.css?v=@rand" rel="stylesheet" type="text/css" />
<link href="~/Content/customer/group/index.css?v=@rand" rel="stylesheet" type="text/css" />

<h2 class="clearfix">
	@ViewBag.Title
	<a href="/Customer/Edit?Id=0&referrer=Index" class="btn btn-warning btnsmall40 float-right" title="@Resources.Resource.Add">@Resources.Resource.Add</a>
</h2>

@Html.AntiForgeryToken()

@using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @Id = "frmCustomer" }))
{
	@Html.Partial("_AdvSearchBlk", null, new ViewDataDictionary { {"Keyword",Model.Keyword }, { "isassignor", isassignor }, { "additionalcls", "my-4" },{"forcustomer",true },{"GroupTxt", string.Format(Resources.Resource.AddToFormat, Resources.Resource.CustomerGroup) } })

	if (Model.CustomerList != null && Model.CustomerList.Count > 0)
	{
		<table id="tblCustomer" class="table table-bordered table-hover table-condensed">
			<thead class="gray-header font-weight-bold">
				<tr>
					<th class="text-center colheader" data-col="0">@Resources.Resource.Name</th>
					<th class="text-center colheader" data-col="1">@Resources.Resource.Contact</th>
					<th class="text-center colheader" data-col="2">@Resources.Resource.Email</th>
					<th class="text-center">@Resources.Resource.CustomAttributes</th>

					<th class="text-center colheader" data-col="3">@string.Format(Resources.Resource.FollowUpFormat, Resources.Resource.Status)</th>
					<th class="text-center colheader" data-col="4">@Resources.Resource.FollowUpDate</th>
					<th class="text-center colheader abss" data-col="5">ABSS</th>
					@if (isassignor)
					{
						<th class="text-center colheader" data-col="6">@Resources.Resource.SalesPerson</th>
					}

					<th class="text-center action"></th>
					<th class="text-center">
						<input type="checkbox" id="chkall" @checkall />
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var customer in Model.PagingCustomerList)
				{
					string cname = customer.cusName;
					var disabled = (customer.cusCheckout != null && (bool)customer.cusCheckout) ? "disabled" : "";
					<tr class="@customer.statuscls pointer" data-id="@customer.cusCustomerID" data-code="@customer.cusCode">
						<td class="text-center">@cname</td>
						<td class="text-center">@customer.cusContact</td>
						<td class="text-center">@Html.Raw(customer.EmailDisplay)</td>
						<td class="text-center customattrs">
							@if (!string.IsNullOrWhiteSpace(customer.CustomAttributes))
							{
								@Html.Raw(customer.CustomAttributes.Trim())
							}
						</td>

						<td class="text-center">@Html.Raw(customer.FollowUpStatusDisplay)</td>
						<td class="text-center">@customer.FollowUpDateDisplay</td>
						<td class="text-center abss">@customer.AccountProfileName</td>
						@if (isassignor)
						{
							<td class="text-center">@Html.Raw(customer.SalesPersonName)</td>
						}

					<td class="text-center action">
						<a class="btn btn-warning btnsmall" role="button" href="/Customer/Edit?cusCode=@customer.cusCode&referrer=Index" title="@Resources.Resource.Edit"><i class="fa fa-edit"></i></a>
						@{
							disabled = isassignor ? "" : "disabled";
							<a href="#" title="@Resources.Resource.AssignToSalesman" role="button" class="btn btn-info assign @disabled" data-code="@customer.cusCode" data-salespersonid="@customer.assignedSalesId"><span class="fa fa-user" aria-hidden="true"></span></a>
						}
						<a class="btn btn-danger btnsmall remove @disabled" role="button" href="#" data-code="@customer.cusCode" data-id="@customer.cusCustomerID" data-apid="@customer.AccountProfileId" title="@Resources.Resource.Remove"><i class="fa fa-trash"></i></a>
					</td>

						<td class="text-center">
							<input type="checkbox" class="chk" data-code="@customer.cusCode" value="@customer.cusCode" />
						</td>
					</tr>
				}
			</tbody>
		</table>

		<div id="pagingblk" class="my-3">
			@Html.PagedListPager(Model.PagingCustomerList, PageNo => Url.Action("Index",
	new { PageNo, SortOrder = Model.CurrentSortOrder, SortCol = Model.SortCol, Keyword = Model.Keyword, PageSize = Model.PageSize }))
		</div>

		@Html.Partial("_SortOrderColHidden")
	}
	else
	{
		@Html.Partial("_NoRecordFound")
	}
}

@Html.Partial("_SalesmenModal")

@Html.Partial("_CustomerGroupModal")

@Html.Partial("_HotListModal")

@Html.Partial("_DescModal")

@Html.Partial("_AdvancedSearchModal", Model.GlobalAttrList)

<!--properties to be changed via js-->
@Html.Partial("_DropDownModal", null, new ViewDataDictionary { { "lbltxt", Resources.Resource.eBlast }, { "drpId", "drpCustomer" }, { "forcustomer", true } })

@Html.Partial("_WaitingModal")
<div id="infoblk" data-codelist="@JsonSerializer.Serialize(Model.CodeList)" data-actionhistory="@Resources.Resource.ActionHistory" data-selectatleastonecustomertxt="@selectatleastonecustomertxt" data-pagesize="@Model.ComInfo.PageLength"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/customer/index.js?v=@rand"></script>
