@model  CustomerEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.Customer;
	int rand = CommonHelper.GetVersionRandomNo();
	var addtoeblasttxt = string.Format(Resources.Resource.AddTo, Resources.Resource.eBlast);
	var addtohotlisttxt = string.Format(Resources.Resource.AddTo, Resources.Resource.HotList);
	string selectatleastonecustomertxt = string.Format(Resources.Resource.SelectAtLeastOne, Resources.Resource.Customer);
	var CusIdList = Model.CusIdList;
	string idlist = string.Join(",", CusIdList);
	bool nonabss = Model.NonABSS;
	string checkall = Model.CheckAll == 1 ? "checked" : "";
}
<link href="~/Content/customer/index.css?v=@rand" rel="stylesheet" type="text/css" />

<h2 class="clearfix">
	@ViewBag.Title
	<a href="/Customer/Edit?Id=0&referrer=Index" class="btn btn-info btnsmall40 float-right" title="@Resources.Resource.Add">@Resources.Resource.Add</a>
</h2>

@if (Model.CustomerList != null && Model.CustomerList.Count > 0)
{
	@Html.AntiForgeryToken()

	using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @Id = "frmCustomer" }))
	{
		<div class="form-inline my-4">
			<div class="form-group">
				<input type="text" class="form-control" id="txtKeyword" name="Keyword" placeholder="@Resources.Resource.KeywordRequired" value="@Model.Keyword" />
				<button id="btnSearch" type="button" class="btn btn-success mx-1">@Resources.Resource.Search</button>
				<button id="btnReload" type="button" class="btn btn-warning mx-1">@Resources.Resource.Reload</button>
				<button id="btnAdvSearch" type="button" class="btn btn-danger mx-1">@Resources.Resource.AdvancedSearch</button>
				<button id="btnHotList" type="button" class="btn btn-info mx-1">@addtohotlisttxt</button>
				<button id="btnGroup" type="button" class="btn btn-dark mx-1">@string.Format(Resources.Resource.AddToFormat, Resources.Resource.CustomerGroup)</button>
				<button id="btnBlast" type="button" class="btn btn-primary mx-1">@addtoeblasttxt</button>
			</div>
		</div>

		<table id="tblCustomer" class="table table-bordered table-hover table-condensed">
			<thead class="gray-header font-weight-bold">
				<tr>
					<th scope="col" class="text-center colheader" data-col="0">@Resources.Resource.Name</th>
					<th scope="col" class="text-center colheader" data-col="1">@Resources.Resource.Contact</th>
					<th scope="col" class="text-center colheader" data-col="2">@Resources.Resource.Email</th>
					<th class="text-center">@Resources.Resource.CustomAttributes</th>

					<th scope="col" class="text-center colheader" data-col="3">@string.Format(Resources.Resource.FollowUpFormat, Resources.Resource.Status)</th>
					<th scope="col" class="text-center colheader" data-col="4">@Resources.Resource.FollowUpDate</th>
					<th scope="col" class="text-center colheader" data-col="5">ABSS</th>
					<th scope="col"></th>
					<th scope="col">
						<input type="checkbox" id="chkall" @checkall />
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var customer in Model.PagingCustomerList)
				{
					string cname = customer.cusName;
					var disabled = (customer.cusCheckout != null && (bool)customer.cusCheckout) ? "disabled" : "";
					<tr class="@customer.statuscls pointer" data-id="@customer.cusCustomerID" data-code="@customer.cusCode">
						<td class="text-center">@cname</td>
						<td class="text-center">@customer.cusContact</td>
						<td class="text-center">@Html.Raw(customer.EmailDisplay)</td>
						<td class="text-center customattrs">
							@if (!string.IsNullOrWhiteSpace(customer.CustomAttributes))
							{
								@Html.Raw(customer.CustomAttributes.Trim())
							}
						</td>

						<td class="text-center">@Html.Raw(customer.FollowUpStatusDisplay)</td>
						<td class="text-center">@customer.FollowUpDateDisplay</td>
						<td class="text-center">@customer.AccountProfileName</td>

						<td>
							<a class="btn btn-info btnsmall" role="button" href="/Customer/Edit?cusCode=@customer.cusCode&referrer=Index">@Resources.Resource.Edit</a>
							<a class="btn btn-danger btnsmall remove @disabled" role="button" href="#" data-code="@customer.cusCode" data-id="@customer.cusCustomerID" data-apid="@customer.AccountProfileId">@Resources.Resource.Remove</a>
						</td>

						<td>
							<input type="checkbox" class="chk" data-code="@customer.cusCode" value="@customer.cusCode" />
						</td>
					</tr>
				}
			</tbody>
		</table>

		<div id="pagingblk" class="my-3">
			@Html.PagedListPager(Model.PagingCustomerList, PageNo => Url.Action("Index",
	new { PageNo, SortOrder = Model.CurrentSortOrder, SortCol = Model.SortCol, Keyword = Model.Keyword, PageSize = Model.PageSize }))
		</div>

		@Html.Partial("_SortOrderColHidden")
	}
}

@Html.Partial("_NoRecordFound")

@Html.Partial("_CustomerGroupModal")

@Html.Partial("_HotListModal")

@Html.Partial("_DescModal")

@Html.Partial("_AdvancedSearchModal", Model.GlobalAttrList)

@Html.Partial("_WaitingModal")
<div id="infoblk" data-codelist="@JsonSerializer.Serialize(Model.CodeList)" data-actionhistory="@Resources.Resource.ActionHistory" data-selectatleastonecustomertxt="@selectatleastonecustomertxt" data-pagesize="@Model.ComInfo.PageLength" data-customergrouplist="@JsonSerializer.Serialize(Model.CustomerGroupList)"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/customer/index.js?v=@rand"></script>
