@model  CustomerEditModel
@using PagedList.Mvc;
@{
	ViewBag.Title = Resources.Resource.NewCustomerManagement;
	int rand = CommonHelper.GetVersionRandomNo();
	string selectatleastonecustomertxt = string.Format(Resources.Resource.SelectAtLeastOne, Resources.Resource.Customer);
}

<h2>@ViewBag.Title</h2>

<p class="my-3">
	<a class="btn btn-info" href="/Customer/Edit?customerId=0&referrer=unsynclist">新增</a>
</p>

@if (Model.CustomerList != null && Model.CustomerList.Count > 0)
{
	using (Html.BeginForm("UnSyncList", "Customer", FormMethod.Get, new { @Id = "frmCustomer" }))
	{
		<div class="form-inline mb-2 my-4">
			<div class="form-group">
				<input type="text" class="form-control" id="txtKeyword" placeholder="@Resources.Resource.KeywordRequired" />
				<button id="btnSearch" type="button" class="btn btn-success ml-4">@Resources.Resource.Search</button>

				<button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
			</div>
		</div>

		<table id="tblCustomer" class="table table-bordered  table-hover table-condensed">
			<thead class="gray-header">
				<tr>
					<th scope="col" class="text-center colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Name</th>
					<th scope="col" class="text-center colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.Contact</th>
					<th scope="col" class="text-center colheader" data-col="2" data-keyword="@Model.Keyword">@Resources.Resource.Email</th>
					<th scope="col" class="text-center colheader" data-col="3" data-keyword="@Model.Keyword">@Resources.Resource.CreateTime</th>
					<th scope="col"></th>
				</tr>
			</thead>

			@foreach (var customer in Model.PagingCustomerList)
			{
				var email = string.IsNullOrEmpty(customer.cusEmail) ? "N/A" : customer.cusEmail;
				string cname = customer.cusName;

				<tr>

					<td style="width:110px;max-width:110px;" class="text-center">@cname</td>
					<td style="width:100px;max-width:100px;" class="text-center">@customer.cusContact</td>
					<td style="width:110px;max-width:110px;" class="text-center">@email</td>
					<td style="width:110px;max-width:110px;" class="text-center">@customer.CreateTimeDisplay</td>

					<td style="width:125px;max-width:125px;">
						<a class="btn btn-info" role="button" href="/PGCustomer/Edit?customerId=@customer.cusCustomerID&accountProfileId=@customer.AccountProfileId"><span class="">@Resources.Resource.Edit</span></a>
						<a class="btn btn-danger remove" role="button" href="#" data-id="@customer.cusCustomerID" data-apid="@customer.AccountProfileId"><span class="">@Resources.Resource.Remove</span></a>
					</td>
				</tr>
			}

		</table>

		<div id="pagingblk" class="my-3">
			@Html.PagedListPager(Model.PagingCustomerList, PageNo => Url.Action("Index",
	new { PageNo, SortOrder = Model.CurrentSortOrder, SortCol = Model.SortCol, Keyword = Model.Keyword }))
		</div>


		<input type="hidden" name="SortOrder" id="sortorder" value="@Model.SortOrder" />
		<input type="hidden" id="sortcol" value="@Model.SortCol" />
	}
}
else
{
	<div id="norecord" class="alert alert-warning">@Resources.Resource.NoDataFound</div>
}



@Html.Partial("_WaitingModal")
<div id="infoblk" data-selectatleastonecustomertxt="@selectatleastonecustomertxt"></div>

<script src="~/Scripts/ASPSnippets_Pager.min.js"></script>
<script src="/Scripts/ts/js/customer/unsynclist.js?v=@rand"></script>