@model PPWLib.Models.DayEndsModel
@{
	int lang = (int)HttpContext.Current.Session["CurrentCulture"];
	int SelectedAccountProfile = Model.SelectedAccountProfileId;
	int rand = CommonHelper.GetVersionRandomNo();
	ViewBag.Title = Resources.Resource.DayendsExportFrmShop;
}

<h3>@ViewBag.Title</h3>
@using (Html.BeginForm("DoExportFrmShopAsync", "DataTransfer", FormMethod.Post, new { @id = "frmExport" }))
{
    @Html.AntiForgeryToken()
   

<div class="row justify-content-center py-5 px-3">
	@Html.Partial("_DatesRange", null, new ViewDataDictionary { { "DateFromTxt", Model.DateFromTxt }, { "DateToTxt", Model.DateToTxt } })
	
	<div class="form-check mx-3">
		<input class="form-check-input" type="checkbox" value="1" name="chkUploaded" id="chkUploaded">
		<label class="form-check-label" for="chkUploaded">
			@Resources.Resource.IncludeUploadedInvoices
		</label>
	</div>

</div>

	<div class="row justify-content-start">
		<button type="button" class="btn btn-success mx-1 export sales" data-type="sales">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.RetailOrder)</button>
		<button type="button" class="btn btn-primary mx-1 export purchase" data-type="purchase">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.Purchase)</button>
		<button type="button" class="btn btn-secondary mx-1 export wholesales" data-type="wholesales">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.WholeSales)</button>
		<button type="button" class="btn btn-info mx-1 export customer" data-type="customer">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.Customer)</button>
		<button type="button" class="btn btn-outline-info mx-1 export supplier" data-type="supplier">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.Supplier)</button>
		<button type="button" class="btn btn-warning mx-1 export item" data-type="item">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.Item)</button>
		<button type="button" class="btn btn-outline-success mx-1 export journal" data-type="journal">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.Journal)</button>
		<button type="button" class="btn btn-outline-primary mx-1 export ia" data-type="ia">@string.Format(Resources.Resource.ExportFormat, Resources.Resource.InventoryAdjustment)</button>
	</div>

    <div id="exportedpathmsg" class="alert alert-success my-3 hide"></div>

    <div class="row mx-1">
        <div id="result"></div>
    </div>

    <input type="hidden" id="exportType" name="type" />
}

@Html.Partial("_WaitingModal")


<script type="text/javascript" src="~/Scripts/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="~/Scripts/DataTables/dataTables.dateTime.min.js"></script>

<div id="infoblk" class="hide" data-lang="@lang" data-confirmtxt="@Resources.Resource.ExportPOSToABSSReminder" data-exporttxt="@Resources.Resource.Export" data-exportpathtxt="@Resources.Resource.ExportBasePath" data-isoffline="@Model.IsOffLine" data-checkoutportal="@ConfigurationManager.AppSettings["DefaultCheckoutPortal"]" data-importdonemsg="@HttpContext.Current.Session["SBToABSSOK"].ToString()" data-importngmsg="@Resources.Resource.SBToABSSNG"></div>

<script src="~/Scripts/ts/js/datatransfer/exportfrmshop.js?v=@rand"></script>