@model IEnumerable<PPWLib.Models.PaymentTypeView>

@{
	ViewBag.Title = Resources.Resource.PaymentType;
	int rand = new Random().Next(10000, 100000);
}
<link rel="stylesheet" type="text/css" href="~/Content/PaymentTypes.css?v=@rand" />
<h3 class="text-center">@ViewBag.Title</h3>

<div class="text-right">
	<button type="button" id="btnAdd" class="btn btn-success">@Resources.Resource.Add</button>
</div>
<table id="tblPay" class="table  table-bordered table-hover table-condensed my-4">
	<colgroup>
	<col style="width:45%;">
	<col style="width:15%;">
	<col style="width:15%;">
	<col style="width:10%;">	
	<col style="width:15%;">
	</colgroup>
	<thead class="gray-header">
		<tr>
			<th>@Resources.Resource.PaymentType</th>
			<th>@Resources.Resource.Cash</th>
			<th>@Resources.Resource.ServiceCharge (%)</th>
			<th>@Resources.Resource.Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			string iscash = (bool)item.pmtIsCash ? Resources.Resource.Yes : Resources.Resource.No;
			string statustxt = (bool)item.pmtIsActive ? Resources.Resource.Active : Resources.Resource.Inactive;
			<tr data-id="@item.Id" data-code="@item.pmtCode">
				<td class="name" data-name="@item.pmtName">@item.pmtName</td>
				<td class="cash" data-iscash="@item.pmtIsCash">@iscash</td>
				<td class="servicecharge" data-servicecharge="@item.pmtServiceChargePercent">@item.pmtServiceChargePercent</td>
				<td class="status" data-status="@item.pmtIsActive">@statustxt</td>
				<td>
					<button type="button" class="btn btn-info btnEdit mx-1" data-id="@item.Id">@Resources.Resource.Edit</button>
					<button type="button" class="btn btn-danger btnDelete mx-1" data-id="@item.Id">@Resources.Resource.Remove</button>
				</td>
			</tr>
		}
	</tbody>
</table>



@Html.AntiForgeryToken()
@Html.Partial("_WaitingModal")
@Html.Partial("_PaymentTypeModal")

<div id="infoblk" data-namerequiredtxt="@Resources.Resource.PayTypeNameRequired" data-duplicatednamewarningtxt="@Resources.Resource.DuplicatedPayTypeNameWarning"></div>
<script src="~/Scripts/ts/js/paymenttypes/index.js?v=@rand"></script>
