@model PurchaseEditModel
@using PagedList.Mvc;
@{

	int rand = CommonHelper.GetVersionRandomNo();
}

<h2>@ViewBag.Title</h2>

<p class="my-3">
	@if (Model.ListMode == PurchaseStatus.all)
	{
		Html.ActionLink(string.Format(Resources.Resource.NewFormat, Resources.Resource.Quotation), "Edit", new { Id = 0, type = "quote" }, new { @class = "btn btn-info mx-2" });
		Html.ActionLink(string.Format(Resources.Resource.NewFormat, Resources.Resource.PurchaseOrder), "Edit", new { Id = 0, type = "order" }, new { @class = "btn btn-info" });
	}
</p>


@using (Html.BeginForm("Index", "Purchase", FormMethod.Get, new { @Id = "frmPurchaseStock" }))
{

	<div class="row justify-content-center py-3">
		@Html.Partial("_DatesRange", null, new ViewDataDictionary { { "DateFromTxt", Model.DateFromTxt }, { "DateToTxt", Model.DateToTxt } })
	</div>

	<div class="d-flex justify-content-center form-inline mb-2 my-4">
		<div class="form-group">
			<input type="text" class="form-control" id="txtKeyword" placeholder="@Resources.Resource.KeywordRequired" />
			<button id="btnSearch" type="button" class="btn btn-success ml-4">@Resources.Resource.Search</button>
			<button id="btnReload" type="button" class="btn btn-warning ml-4">@Resources.Resource.Reload</button>
		</div>
	</div>

	<div class="float-right"><a role="button" class="btn btn-primary btnexsmall my-2" href="/Purchase/Edit/0?type=order" title="@string.Format(Resources.Resource.AddFormat,Resources.Resource.Purchase)"><i class="fa fa-plus"></i></a></div>

	if (Model.PagingPSList==null)
	{
		@Html.Partial("_NoRecordFound");
	}
	else
	{
		<table id="tblPurchaseStock" class="table table-bordered  table-hover table-condensed">
			<colgroup>
				<col width="100">
				<col width="100">
				@*   <col width="100">*@
				@if (Model.ListMode == PurchaseStatus.all)
				{
					<col width="60">
				}

				<col width="100">
				<col width="100">
				<col width="160">
			</colgroup>
			<thead class="gray-header">
				<tr>
					<th class="text-center colheader" data-col="0" data-keyword="@Model.Keyword">@Resources.Resource.Code</th>
					<th class="text-center colheader" data-col="1" data-keyword="@Model.Keyword">@Resources.Resource.Supplier</th>

					<th class="text-center colheader" data-col="3" data-keyword="@Model.Keyword">@Resources.Resource.Status</th>

					<th class="text-center colheader" data-col="4" data-keyword="@Model.Keyword"><span class="font-weight-bold">@string.Format(Resources.Resource.DateFormat, Resources.Resource.Purchase)</span></th>
					<th class="text-center colheader" data-col="5" data-keyword="@Model.Keyword"><span class="font-weight-bold">@Resources.Resource.PromisedDate</span></th>
					<th></th>
				</tr>
			</thead>

			@foreach (var item in Model.PagingPSList)
			{
				<tr>
					<td class="text-center">
						@Html.DisplayFor(modelPurchaseStock => item.pstCode)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelPurchaseStock => item.SupplierName)
					</td>

					@*<td class="text-center">
							@Html.DisplayFor(modelPurchaseStock => item.pstLocStock)
						</td>*@
					@if (Model.ListMode == PurchaseStatus.all)
					{
						string bgcls = string.Concat(item.pstStatus.ToLower(), "bg");
						<td class="text-center @bgcls">
							@item.pstStatus.ToUpper()
						</td>
					}

					<td class="text-center">
						@Html.DisplayFor(modelPurchaseStock => item.PurchaseDateDisplay)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelPurchaseStock => item.PromisedDateDisplay)
					</td>
					<td>
						<a class="btn btn-info edit mr-1 btnsmall" role="button" href="/Purchase/Edit?Id=@item.Id">@Resources.Resource.Edit</a>
						@if (item.pstStatus == PurchaseStatus.quote.ToString())
						{
							<a role="button" href="#" class="btn btn-secondary order mr-1 btnsmall" data-id="@item.Id">@Resources.Resource.Order4Purchase</a>
						}

						<a class="btn btn-primary print mr-1 btnsmall" role="button" href="/Purchase/Print?Id=@item.Id&type=@item.pstStatus&mode=po" target="_blank">@Resources.Resource.PurchaseOrder</a>
						<a class="btn btn-primary print mr-1 btnsmall" role="button" href="/Purchase/Print?Id=@item.Id&type=@item.pstStatus&mode=io" target="_blank">@Resources.Resource.InBoundOrder</a>
						<a class="btn btn-danger remove btnsmall" role="button" href="#" data-id="@item.Id">@Resources.Resource.Remove</a>
					</td>
				</tr>
			}

		</table>

		<div id="pagingblk" class="my-3">
			
				@Html.PagedListPager(Model.PagingPSList, PageNo => Url.Action("Index",
		new { PageNo, SortOrder = Model.CurrentSortOrder, Keyword = Model.Keyword }))
			
			<input type="hidden" id="sortorder" name="SortOrder" value="@Model.SortOrder" />
			<input type="hidden" id="sortcol" value="@Model.SortCol" />
		</div>
	}
}

@Html.Partial("_WaitingModal")

<div id="infoblk"></div>
<script type="text/javascript" src="~/Scripts/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/daterangepicker/daterangepicker.css" />

<script>
	$(document).on('click', '#btnPrintPreview', function () {
		let url = `/Purchase/Print?strfrmdate=${$('#datetimesmin').val()}&strtodate=${$('#datetimesmax').val()}&Keyword=${$('#txtKeyword').val()}`;
		window.open(url, '_blank');
	});
	$(function () {
		initDatePickers(StartDayEnum.LastMonth, 'YYYY-MM-DD');
	});
</script>
<script src="~/Scripts/ts/js/purchase/index.js?v=@rand"></script>


