@model PPWLib.Models.POS.ReturnModel

@{
    ViewBag.Title = Resources.Resource.PurchaseReturn;
    int rand = CommonHelper.GenerateRandomNo();
}

<h2>@Resources.Resource.PurchaseReturn</h2>
<link rel="stylesheet" href="~/Content/Sales.css?v=@rand" />
<div class="form-inline mb-2 my-4">
    <div class="form-group">
        <label for="txtPurchaseNo" class="col-form-label mx-sm-3">@string.Format(Resources.Resource.NumberFormat, Resources.Resource.Purchase)</label>
        <input id="txtPurchaseNo" class="form-control" />
        <button type="button" id="btnSearchPurchase" class="btn btn-default ml-3">@string.Format(Resources.Resource.SearchFormat, Resources.Resource.Purchase)</button>
    </div>
</div>

<div class="row justify-content-center">
    <h4>@Resources.Resource.PurchaseHistory</h4>
    <div class="jexcel_content">
        <table id="tblpurchase" class="table table-bordered table-condensed table-hover ">
            <colgroup>
                <col width="60">
                <col width="120">
                <col width="85">
                <col width="90">
                <col width="90">
                <col width="100">
                <col width="150">
                <col width="90">
                <col width="120">
                <col width="150">
                <col width="90">
            </colgroup>
            <thead class="resizable black-header">
                <tr>
                    <td class="text-center">@Resources.Resource.Sequence</td>
                    <td class="text-center">@Resources.Resource.ItemCode</td>
                    <td class="text-right">@Resources.Resource.Qty</td>
                    <td class="text-right">@Resources.Resource.Price</td>
                    <td class="text-right">@Resources.Resource.DiscountItemHeader</td>
                    <td class="text-right">@Resources.Resource.AmountItemHeader</td>
                    <td class="text-center">@string.Format(Resources.Resource.DateFormat, Resources.Resource.Purchase)</td>
                    <td class="text-right">@Resources.Resource.ReturnedQtyHeader</td>
                    <td class="text-right">@string.Format(Resources.Resource.ReturnFormat, Resources.Resource.Amt)</td>
                    <td class="text-center">@string.Format(Resources.Resource.DateFormat, Resources.Resource.PurchaseReturn)</td>
                    <td class="text-center">@Resources.Resource.Detail</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="salesremarkblk" class="row justify-content-center" style="display:none;">
    <h5 style="width:100%;" class="text-center">@Resources.Resource.Notes</h5>
    <span></span>
</div>
<hr />


    <h4 style="width:100%;" class="text-center font-weight-bold">@Resources.Resource.PurchaseReturn</h4>
    <div class="d-flex justify-content-center">
        <div class="alert alert-info">@Resources.Resource.ReturnOperationNotes</div>
    </div>

    <div class="row my-2">
        <table id="tblReturn" class="jexcel jexcel_overflow" cellpadding="0" cellspacing="0" unselectable="yes">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="85">
                <col width="100">
                <col width="90">
                <col width="50">
                <col width="90">
                <col width="100">
                @if (Model.EnableTax && !Model.InclusiveTax)
                {
                    <col width="70">
                }
                <col width="70">
                <col width="70">
                <col width="100">
                <col width="50" />
            </colgroup>
            @{ int idx = (Model.EnableTax && !Model.InclusiveTax) ? 11 : 10;}
            <thead class="resizable">
                <tr>
                    <td data-x="1" title="@Resources.Resource.ItemCode" style="text-align: center;">@Resources.Resource.ItemCode</td>
                    <td data-x="2" title="@Resources.Resource.Description" style="text-align: center;">@Resources.Resource.ItemName</td>
                    <td data-x="3" title="@Resources.Resource.BaseUnit" style="text-align: center;">@Resources.Resource.BaseUnit</td>
                    <td data-x="4" title="@Resources.Resource.ReturnedQtyHeader" style="text-align: right;"><span class="small">@Resources.Resource.ReturnedQtyHeader</span></td>

                    <td data-x="5" title="@Resources.Resource.Batch" style="text-align: center;">@Resources.Resource.Batch</td>
                    <td data-x="6" title="@Resources.Resource.SerialNo" style="text-align: right;">@Resources.Resource.SerialNoItemHeader</td>
                    <td data-x="7" title="@Resources.Resource.ValidThru" style="text-align: right;">@Resources.Resource.ValidThru</td>

                    <td data-x="8" title="@Resources.Resource.Price" style="text-align: right;">@Resources.Resource.Price</td>
                    <td data-x="9" title="@Resources.Resource.DiscountItemHeader" style="text-align: right;">@Resources.Resource.DiscountItemHeader</td>
                    @if (Model.EnableTax && !Model.InclusiveTax)
                    {
                        <td data-x="10" title="@Resources.Resource.TaxItemHeader" style="text-align: right;">@Resources.Resource.TaxItemHeader</td>

                    }
                    else
                    {
                        <td data-x="@idx" title="@Resources.Resource.Qty" style="text-align: right;">@Resources.Resource.Qty</td>
                        idx++;
                        <td data-x="@idx" title="@string.Format(Resources.Resource.ReturnFormat, Resources.Resource.Amt)" style="text-align: right;">@string.Format(Resources.Resource.ReturnFormat, Resources.Resource.Amt)</td>
                    }
                    <td data-x="@idx" class="text-center">@Resources.Resource.Sequence</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

<div class="row mr-1 my-5">
    <div class="col-6">
        <p class="formfield">
            <label for="txtNotes" class="mx-sm-3">@Resources.Resource.Notes</label>
            <textarea class="form-control d-inline-block" id="txtNotes" name="Notes" cols="250" rows="5"></textarea>
        </p>
    </div>

    <div class="col-6">
        <div class="row justify-content-end">
            <div class="form-inline mb-2">
                <div class="form-group">
                    <label for="txtTotal" class="col-form-label mx-sm-3">@Resources.Resource.TotalAmount</label>
                    <input type="number" class="form-control" id="txtTotal" readonly name="TotalAmount" value="0.00" />
                </div>
            </div>
        </div>


        <div class="row justify-content-end">
            <div class="form-inline mb-2">
                <div class="form-group">
                    <a id="btnNewReturn" href="#" role="button" class="btn btn-default">@string.Format(Resources.Resource.NewFormat, Resources.Resource.PurchaseReturn)</a>
                    <a id="btnReturn" href="#" role="button" class="btn btn-secondary ml-3">@Resources.Resource.ProcessReturn</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="itemModal">

    <div class="form-inline mb-2 my-4">
        <div class="form-group">
            <input type="text" class="form-control" id="txtItem" placeholder="@Resources.Resource.EnterItemCodeName" />
            <button id="btnSearch" type="button" class="btn btn-default ml-4">@Resources.Resource.Search</button>
        </div>
    </div>

    <table id="tblItem" class="table table-bordered  table-hover table-condensed">
        <thead class="gray-header">
            <tr><th>@Resources.Resource.ItemCode</th><th>@Resources.Resource.ItemName</th><th>@Resources.Resource.BaseSellingPrice</th></tr>
        </thead>
        <tbody></tbody>
    </table>
    <p class="warning"></p>


</div>

<div id="descModal"></div>

@Html.Partial("_WaitingModal")
@Html.AntiForgeryToken()

<input type="hidden" id="purchasenolist" value="@Model.PurchaseNoList" />

<div id="infoblk" data-inclusivetax="@Model.InclusiveTax" data-inclusivetaxrate="@Model.InclusiveTaxRate" data-printurl="@Url.Action("Index", "Print")" data-checkoutportal="@Model.ComInfo.DefaultCheckoutPortal" data-purchasenorequiredtxt="@string.Format(Resources.Resource.Required,string.Format(Resources.Resource.NumberFormat,Resources.Resource.Purchase))" data-purchasenotxt="@string.Format(Resources.Resource.NumberFormat,Resources.Resource.Purchase)" data-priceeditable="@Model.PriceEditable" data-disceditable="@Model.DiscEditable" data-enabletax="@Model.EnableTax" data-enablesn="@Model.EnableSerialNo" data-returnoperationnotes4sn="@Resources.Resource.ReturnOperationNotes4ItemWserialNo"></div>
<link rel="stylesheet" type="text/css" href="~/Scripts/jspreadsheet/dist/jexcel.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/jsuites/dist/jsuites.css" />

<script src="~/Scripts/ts/js/purchase/return.js?v=@rand"></script>